.fullscreen{
	width: 100%;
}
.w-1200{
	width: 1200px;
	margin: 0 auto;
}

.heard{
	width: 100%;
	height:25px;
	background: #F2F2F2;
}
.heard .heard1{
	width: 1200px;
	height: 25px;
	background:#f2f2f2 ;
	margin: 0 auto;
}
.heard .heard1 .left1{
	float: left;
}
.heard .heard1 .left1 img{
	margin-left: 5px;
	margin-top: 5px;
}
.heard .heard1 .left2{
	float: left;
}
.heard .heard1 .left2 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .left2 a:hover{
	color: #ff6600;
}
.heard .heard1 .left3{
	font-size: 10px;
	color: #999999;
	float: left;
	margin-left: 20px;
	line-height: 25px;
}
.heard .heard1 .left4{
	float: left;
}
.heard .heard1 .left4 a{
	margin-left: 10px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
.heard .heard1 .left4 a:hover{
	color: #ff6600;
}
.heard .heard1 .left5{
	float: left;
}
.heard .heard1 .left5 a{
	margin-left: 6px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
.heard .heard1 .left5 a:hover{
	color: #ff6600;
}
.heard .heard1 .right1{
	float: left;
}
.heard .heard1 .right1 a{
	text-decoration: none;
	font-size: 11px;
	margin-left: 204px;
	color: #666666;
}
.heard .heard1 .right1 a:hover{
	color: #ff6600;
}
.heard .heard1 .right2{
	float: left;
	position: relative;
}
.heard .heard1 .right2 a{
	margin-left: 20px;
	font-size: 11px;
	text-decoration: none;
	color: #666666;
}
.heard .heard1 .right2 a:hover{
	color: #ff6600;
}
.heard .heard1 .right2 ul{
	background: #fff;
	margin-top: 4px;
	position: absolute;
	left: 17px;
	top: 20px;
	display: none;
}
.heard .heard1 .right2 ul li{
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	margin-left: 3px;
	line-height: 25px;
}
.heard .heard1 .right2:hover ul {
	display: block;
}
.heard .heard1 .right2 ul li:hover{
	text-decoration: underline;
	color:#ff6600 ;
}
.heard .heard1 .right3{
	float: left;
	position: relative;
	width: 75px;
}
.heard .heard1 .right3 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .right3 ul{
	position: absolute;
	top: 20px;
	left: -8px;
	margin-top: 4px;
	display: none;
}
.heard .heard1 .right3 ul li{
	font-size: 11px;
	background: #FFFFFF;
	line-height: 25px;
	cursor: pointer;
	padding-left: 8px;
}
.heard .heard1 .right3 ul li:hover{
	text-decoration: underline;
	color:#ff6600 ;
}
.heard .heard1 .right3:hover ul {
	display: block;
	/*overflow: hidden;*/
}
.heard .heard1 .right4{
	float: left;
}
.heard .heard1 .right4 img{
	float: left;
	margin-left: 18px;
	margin-top: 5px;
}
.heard .heard1 .right4 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .right4 b{
	color:#ff6600 ;
	font-weight: normal;
}
.heard .heard1 .right4 a:hover{
	color:#ff6600 ;
}
.heard .heard1 .right5{
	z-index: 1;
	float: left;
	position: relative;
}
.heard .heard1 .right5 img{
	float: left;
	margin-left: 14px;
	margin-top: 2px;
} 
.heard .heard1 .right5 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;	
	float: left;
	line-height: 25px;
}
.heard .heard1 .right5 a:hover{
	color:#ff6600 ;
}
.heard .heard1 .right5 img:nth-of-type(2){
	float: left;
	display: none;
	position: absolute;
	top:23px;
	left: -50px;
}
.heard .heard1 .right5:hover img{
	display: block;
}
.heard .heard1 .right6{
	float: left;
}
.heard .heard1 .right6 img{
	float: left;
	margin-top: 1px;
	margin-left: 14px;
}
.heard .heard1 .right6 a{
	margin-left: 5px;
	float: left;
	text-decoration: none;
	font-size: 11px;
	color:#ff6600 ;
	line-height: 25px;
}
/**/
.heard2{
	width: 100%;
}
.heard2 .banner {
	width: 1200px;
	margin: 0 auto;
	cursor: pointer;
}
.heard2 .heard_end{
	width: 1200px;
	margin: 0 auto;
}
.heard2 .heard_end img{
	margin-top: 28px;
	margin-left: 10px;
	float: left;
}
.heard2 .heard_end img:nth-of-type(2){
	margin-left: 281px;
	float: left;
	margin-top: 23px;
}
/**/
.heard2 .sousuokuang{
	float: left;
	position: relative;
	margin-left: 79px;
	margin-top: 30px;
}
.heard2 .sousuokuang input{
	float: left;
	width: 250px;
	height: 33px;
	border:1px solid #90c31f;
	outline: none;
	color: #90C31F;
	text-indent: 30px;
	border-right: 0;
}
.heard2 .sousuokuang img{
	position: absolute;
	left: 2px;
	top: 5px;
}
.heard2 .sousuokuang button{
	float: left;
	width: 79px;
	height: 35px;
	margin-left: -5px;
	border: 0;
	background:#90C31F;
	outline: none;
	cursor: pointer;
}
.heard2 .sousuokuang p{
	color: #999999;
	font-size: 11px;
}
.heard2 .sousuokuang a{
	font-size: 11px;
	text-decoration: none;
	color: #999999;
	margin-left: 5px;
}
.heard2 .sousuokuang .sousuo{
	float: left;
	margin-left: 55px;
	margin-top: -20px;
}
.heard2 .sousuokuang a:hover{
	color: #FF6600;
}
.zhong{
	width: 100%;
	height: 35px;
	background: #90C31F;
	margin-top: 100px;
}
.zhong .erji{
	width: 1200px;
	margin: 0 auto;
	background: #90C31F;
}
.zhong .erji p{
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	/*margin-left: 17px;*/
	margin-right: 34px;
	width: 210px;
	height: 35px;
	background: #6d9d03;
}
.zhong .erji img{
	margin-left: 15px;
	vertical-align: middle;
}
.zhong .erji ul{
	float: left;
	margin-left: 200px;
	margin-top: -35px;
}
.zhong .erji ul li:nth-of-type(1){
	width: 100px;
	margin-left: 19px;
}
.zhong .erji ul li{
	float: left;
	width: 120px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bolder;
	margin-left:1px;
}
.zhong .erji ul li a{
	float: left;
	display: inline-block;
	color: #FFFFFF;
	width: 100px;
	height: 35px;
	text-align: center;
}
.zhong .erji ul li a:hover{
	background: #7fb012;
}
/*轮播*/
		.dlb .main-swiper{
			width: 100%;
			height: 320px;
		}
		.dlb .main-swiper .min-swiper .swiper-slide{
			text-align: center;
		}
		.dlb .main-swiper .min-swiper .swiper-slide img{
			width: 780px;
			height: 320px;
		}
		.dlb .main-swiper .min-swiper .swiper-slide img{
			cursor: pointer;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(4){
			background: #fff3f3;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(2){
			background: #daf1ff;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(3){
			background: #fff3f3;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(7){
			background: #671479;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(5){
			background: #671479;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(6){
			background: #01bad6;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(8){
			background: #d6f3fb;
		}
		.dlb .main-swiper .swiper-slide:nth-of-type(9){
			background: #d6f3fb;
		}
		.dlb .swiper-pagination{
			z-index: 1;
		}
		.dlb .swiper-pagination-bullet{
			width: 18px;
			height: 18px;
			margin-left: 4px;
			color: #FFFFFF;
			text-align: center;
			line-height: 18px;
			background: #90C31F;
		}
		/*dingwei*/
		.dingwei{
			position: relative;
			z-index: 1;
		}
		.dingwei img{
			position: absolute;
			left: 1055px;
			top: -320px;	
		}
/*erjicaidan*/
.menu{
	position: relative;
	z-index:2;
}
.menu .but_menu ul{
	width: 210px;
	height: 320px;
	background:#fff;
}
.menu .but_menu{
	position: absolute;
	left: 75px;
	top: -320px;
}
.menu .but_menu ul li{
	width: 210px;
	float: left;
	border-bottom: 1px dashed #cbcbcb;
	cursor: pointer;
}
.menu .but_menu ul li:hover{
	border: 1px solid #90C31F;
}
.menu .but_menu ul li:nth-of-type(7){
	border-bottom: 0;
}
.menu .but_menu ul li img{
	float: left;
	width: 19px;
	height: 19px;
	margin-left: 34px;
	margin-top: 12px;
}
.menu .but_menu ul li a{
	float: left;
	line-height: 45px;
	font-size: 11px;
	color: #666666;
	margin-left: 13px;
}
.menu .but_menu ul li b{
	display: inline-block;
	font-weight: normal;
	margin-left: 55px;
	margin-top: 10px;
	color: #cccccc;
}
.menu .but_menu ul li .b1,.menu .but_menu ul li .b2{
	margin-left: 33px;
}
.menu .but_menu .sub_menu{
	z-index: 0;
}
.menu .but_menu .sub_menu .caidan{
	float: left;
	width: 769px;
	height: 320px;
	background: #fff;
	border: 1px solid #90C31F;
	border-top: 0;
	/*margin-top: -1px;*/
	z-index: 300;
}
.menu .but_menu .sub_menu .caidan .caidan1{
	float: left;
	height: 65px;
	margin-top: -280px;
}
.caidan .erjicaidan{
	width: 522px;
	height: 300px;
	border-right: 1px solid #CCCCCC;
	margin-top: 10px;
}
.menu .but_menu .sub_menu .caidan .caidan1 p{
	font-size:11px ;
	font-weight: bolder;
	color: #666666;
	margin-left: 42px;
	float: left;
}
.menu .but_menu .sub_menu .caidan .caidan1 a{
	float: left;
	line-height: 27px;
	font-size: 11px;
	color: #666666;
	margin-left: 8px;
	margin-top: -5px;
}
.menu .but_menu .sub_menu .caidan .caidan1 a:nth-of-type(9){
	margin-left: 88px;
}
.menu .but_menu .sub_menu .caidan img{
	float: left;
	width: 211px;
	height: 128px;
}
.menu .but_menu .sub_menu .caidan .img1{
	margin-left: 536px;
	margin-top: 173px;
}
.menu .but_menu .sub_menu .caidan .img2{
	margin-left: -211px;
	margin-top: 15px;
}
.menu .but_menu .sub_menu .caidan .caidan1 a:nth-of-type(1){
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan1 a:nth-of-type(4){
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan1 a:nth-of-type(8){
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan1 a:hover{
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan2{
	float: left;
	width:461px;
	height: 65px;
	margin-top: -205px;
}
.menu .but_menu .sub_menu .caidan .caidan2 p{
	font-size:11px ;
	font-weight: bolder;
	color: #666666;
	margin-left: 42px;
	float: left;
}
.menu .but_menu .sub_menu .caidan .caidan2 a{
	float: left;
	line-height: 27px;
	font-size: 11px;
	color: #666666;
	margin-left: 13px;
	margin-top: -5px;
}
.menu .but_menu .sub_menu .caidan .caidan2 a:hover{
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan2 a:nth-of-type(1){
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan2 a:nth-of-type(5){
	color: #FF6600;
}
/*3*/
.menu .but_menu .sub_menu .caidan .caidan3{
	float: left;
	width:461px;
	height: 65px;
	margin-top: -160px;
}
.menu .but_menu .sub_menu .caidan .caidan3 p{
	font-size:11px ;
	font-weight: bolder;
	color: #666666;
	margin-left: 42px;
	float: left;
}
.menu .but_menu .sub_menu .caidan .caidan3 a{
	float: left;
	line-height: 27px;
	font-size: 11px;
	color: #666666;
	margin-left: 13px;
	margin-top: -5px;
}
.menu .but_menu .sub_menu .caidan .caidan3 a:hover{
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan3 a:nth-of-type(1){
	color: #FF6600;
}
/*4*/
.menu .but_menu .sub_menu .caidan .caidan4{
	float: left;
	width:461px;
	height: 65px;
	margin-top: -115px;
}
.menu .but_menu .sub_menu .caidan .caidan4 p{
	font-size:11px ;
	font-weight: bolder;
	color: #666666;
	margin-left: 42px;
	float: left;
}
.menu .but_menu .sub_menu .caidan .caidan4 a{
	float: left;
	line-height: 27px;
	font-size: 11px;
	color: #666666;
	margin-left: 13px;
	margin-top: -5px;
}
.menu .but_menu .sub_menu .caidan .caidan4 a:hover{
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan4 a:nth-of-type(1){
	color: #FF6600;
}
/*5*/
.menu .but_menu .sub_menu .caidan .caidan5{
	float: left;
	width:461px;
	height: 65px;
	margin-top: -69px;
}
.menu .but_menu .sub_menu .caidan .caidan5 p{
	font-size:11px ;
	font-weight: bolder;
	color: #666666;
	margin-left: 42px;
	float: left;
}
.menu .but_menu .sub_menu .caidan .caidan5 a{
	float: left;
	line-height: 27px;
	font-size: 11px;
	color: #666666;
	margin-left: 13px;
	margin-top: -5px;
}
.menu .but_menu .sub_menu .caidan .caidan5 a:hover{
	color: #FF6600;
}
.menu .but_menu .sub_menu .caidan .caidan5 a:nth-of-type(1){
	color: #FF6600;
}
/*er*/
.menu .but_menu .sub_menu .er .caidan1 a{
	margin-left: 10px;
}
.menu .but_menu .sub_menu .er .caidan1 a:nth-of-type(1){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan1 a:nth-of-type(2){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan1 a:nth-of-type(4){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan1 a:nth-of-type(5){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan1 a:nth-of-type(9){
	margin-left: 8px;
}
.menu .but_menu .sub_menu .er .caidan1 a:nth-of-type(11){
	margin-left: 85px;
}
.menu .but_menu .sub_menu .er .caidan3 a:nth-of-type(1){
	color: #666666;
}
.menu .but_menu .sub_menu .er .caidan3 a:nth-of-type(2){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan4 a:nth-of-type(1){
	color: #666666;
}
.menu .but_menu .sub_menu .er .caidan4 a:nth-of-type(3){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan5 a:nth-of-type(1){
	color: #666666;
}
.menu .but_menu .sub_menu .er .caidan5 a:nth-of-type(3){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan6 a:nth-of-type(2){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan6 a:nth-of-type(4){
	color: #FF6600;
}
.menu .but_menu .sub_menu .er .caidan6 a:nth-of-type(6){
	color: #FF6600;
}
.er .caidan1 a:hover{
	color: #FF6600;
}
.er .caidan6{
	float: left;
	width:461px;
	height: 65px;
	margin-top: -20px;
}
.er .caidan6 p{
	font-size:11px ;
	font-weight: bolder;
	color: #666666;
	margin-left: 42px;
	float: left;
}
.er .caidan6 a{
	float: left;
	line-height: 27px;
	font-size: 11px;
	color: #666666;
	margin-left: 10px;
	margin-top: -5px;
}
.er .caidan6 a:hover{
	color: #FF6600;
}
.er .caidan6 a:nth-of-type(1){
	color: #FF6600;
}
/**/
.menu .sub_menu{
	position: relative;
	z-index: 2;
	display: none;
}
.menu .but_menu .sub_menu.active{
	display: block;
}
.menu .but_menu .sub_menu .caidan{
	position: absolute;
	left: 210px;
	top: -320px;
	z-index: 0;
	opacity: 0;
}
.menu .but_menu .sub_menu .caidan.active{
	z-index: 2;
	opacity: 2;
}
/*中下部分*/
.lower-middle{
	width: 100%;
	height: 150px;
	/*background: red;*/
	overflow: hidden;
}
.lower-middle .lower-middle1{
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	/*background: cyan;*/
	overflow: hidden;
}
.lower-middle .lower-middle1 .rmss{
	width: 210px;
	height: 141px;
	background: #CCCCCC;
	overflow: hidden;
	float: left;
}
.lower-middle .lower-middle1 .rmss p{
	margin-left: 14px;
	margin-top: 12px;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	margin-bottom: 5px;
}
.lower-middle .lower-middle1 .rmss a{
	float: left;
	display:block;
	width: 55px;
	height: 28px;
	background: #FFF;
	margin-left: 11px;
	color: #666666;
	text-align: center;
	line-height: 28px;
	font-size: 11px;
	margin-top: 4px;
	border:1px solid #e9e9e9;
}
.lower-middle .lower-middle1 .rmss a:hover{
	background: #90C31F;
}
.lower-middle .lower-middle1 .t{
	width: 769px;
	height: 139px;
	float: left;
}
.lower-middle .lower-middle1 .t img{
	margin-top: 9px;
	cursor: pointer;
}
.lower-middle .lower-middle1 .t img:nth-of-type(1){
	margin-left: 9px;
}
.lower-middle .lower-middle1 .tab{
	width: 218px;
	height: 140px;
/*	background: #f90;*/
	float: left;
	border: 1px solid #E9E9E9;
}
.lower-middle .lower-middle1 .tab .tab_menu{
	float: left;
	width: 218px;
	margin-bottom: 16px;
}
.lower-middle .lower-middle1 .tab .tab_menu li{
	float: left;
	width: 109px;
	height: 28px;
	background: #f4f4f4;
	line-height: 28px;
	text-align: center;
	font-size: 13px;
	font-weight: bold;
	color: #666666;
	cursor: pointer;
	list-style: none;
}
.lower-middle .lower-middle1 .tab .tab_menu li.active{
	background: #fff;
	color: #e60213;
}
.lower-middle .lower-middle1 .tab .sb_menu{
	width: 218px;
	height: 110px;
}
.lower-middle .lower-middle1 .tab .sb_menu div a{
	display: block;
	font-size: 11px;
	color: #666666;
	margin-left: 11px;
	margin-top:6px ;
}
.lower-middle .lower-middle1 .tab .sb_menu div a:hover{
	color: #FF6600;
}
.lower-middle .lower-middle1 .tab .sb_menu div{
	display: none;
}
.lower-middle .lower-middle1 .tab .sb_menu div.active{
	display: block;
}
/*jrms*/
.zx2{
	width: 100%;
	height: 185px;
	/*background: red;*/
}
.zx2 .jrms{
	width: 1200px;
	height: 185px;
	margin: 0 auto;
	/*background: cyan;*/
	border: 1px solid #CCCCCC;
}
.zx2 .jrms .tab_menu{
	width: 210px;
	height: 184px;
	/*background: yellow;*/
	float: left;
}
.zx2 .jrms .tab_menu li{
	border: 1px solid #CCCCCC;
	border-right: 0;
	border-button: 0;
	width: 207px;
	height: 91px;
	background: #CCCCCC;
	list-style: none;
	text-align: center;
	line-height: 93px;
	font-size: 13px;
}
.zx2 .jrms .tab_menu li.active{
	background: #fff;
	border-left: 2px solid #90C31F;
	color: #90C31F;
}
.zx2 .jrms .tu{
	float: left;
}
.zx2 .jrms .tu .dj{
	width: 982px;
	height: 182px;
	float: left;
	margin-left: 211px;
	margin-top: -182px;
}
.zx2 .jrms .tu .dj .t1{
	width: 175px;
	height: 165px;
	float: left;
	margin-left: 10px;
	margin-top: 22px;
}
.zx2 .jrms .tu .dj .t1 img{
	width: 130px;
	height: 120px;
	margin-left: 8px;
}
.zx2 .jrms .tu .dj .t1:nth-of-type(5) p{
	margin-left: 48px;
}
.zx2 .jrms .tu .dj .t1:nth-of-type(4) p{
	/*margin-left: -29px;*/
}
.zx2 .jrms .tu .dj .t1 p{
	font-size: 11px;
	color: #666666;
	margin-left: 26px;
}
.zx2 .jrms .tu .dj .t1 p:nth-of-type(5){
	margin-left: 24px;
}
.zx2 .jrms .tu .dj .t1 span{
	display: inline-block;
	width: 152px;
	font-size: 11px;
	color: #FF6600;
	text-align: center;
}
.zx2 .jrms .tu .dj{
	display: none;
}
.zx2 .jrms .tu .dj.active{
	display: block;
}
.zx2 .jrms .tu .dj .t1 img{
	cursor: pointer;
}
.zx2 .jrms .tu .dj .t1 img:hover{
	transition-duration:0.2s;
	transform: translateX(-3px);
}
.f{
	width: 100%;
	/*height: 750px;*/
	/*background: red;*/
	margin-top: 67px;

}
.f .f1{
	width: 1200px;
	/*height: 750px;*/
	/*background: cyan;*/
	margin: 0 auto;
	
}
.f .f1 .f_header{
	width: 1200px;
	height: 32px;
	/*background: #f90;*/
	margin-bottom: 11px;
	margin-top: -25px;
}
.f .f1 .f_header p{
	font-size: 17px;
	color: #72b7fc;
	line-height: 32px;
	float: left;
}
.f .f1 .f_header p b{
	font-weight: normal;
	font-size: 14px;
	margin-right: 12px;
}
.f .f1 .f_header .jingxuan{
	float: left;
	line-height: 32px;
	margin-left: 77px;
}
.f .f1 .f_header .jingxuan span{
	font-size: 11px;
}
.f .f1 .f_header .jingxuan a:nth-of-type(1){
	border-left: 1px solid #CCCCCC;
}
.f .f1 .f_header .jingxuan a{
	font-size: 11px;
	color: #666666;
	border-right: 1px solid #CCCCCC;
	padding-left: 9px;
	padding-right: 9px;
}
.f .f1 .f_header .jingxuan a:hover{
	color: #FF6600;
}
.f .f1 .xiangxi{
	height: 720px;
	/*background: #CCCCCC;*/
	margin-top: -12px;
	border-top:4px solid #72b7fc;
	/*position: relative;*/
}
/*小型轮播*/
#slider{
	width: 210px;
	height: 360px;
	position: relative;
	overflow: hidden;
	line-height: 360px;
	text-align: center;
	cursor:pointer;
}
#slider ul li img{
	width: 210px;
	height: 360px;
}
#slider>ul{
	width: 1000px;
	height: 360px;
	position: absolute;
	/*z-index: -1;*/
	left:0;
	top:0;
}
#slider ul li{
	float: left;
}
#dot{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot span.active{
	background-color: #90C221;
}
/**/
.pai{
	width: 208px;
    height: 355px;
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
    float: left;
}
.pai1{
	height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    text-align: center;
}
.best>div{
	float: left;
}
.best{
	width: 190px;
	margin:0 auto; 
	height: 88px;
	margin-bottom: 14px;
	position: relative;
}
.best1{
	width: 190px;
	height: 33px;
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
#best1{
	background: url(../img/3.1.png) no-repeat 0 0;
}
#best2{
	background: url(../img/3.1.png) no-repeat 0 -33px;
}
#best3{
	background: url(../img/3.1.png) no-repeat 0 -66px;
}
.best2{
	position: absolute;
	left:0;
	top:18px;
	z-index: 1;
}
.best2 img{
	width: 68px;
	height: 68px;
}
.best3{
	position: absolute;
	right:0;
	top:18px;
	z-index: 2;
	width: 108px;
    line-height: 16px;
    color: #666;
}
.best3 h5{
    font-size: 12px;
}
.best3 h5:hover{
	color: #ff6600;
}
.best3 h6{
    font-size: 12px;
    color: #ff6600;
}
.best3 h6 b{
	margin-left: 20px;
	text-decoration: line-through;
	color: #666;
}
.best3>i{
	width: 84px;
	height: 15px;
	display: inline-block;
	background: url(../img/1.png) no-repeat -367px -55px;
}
.floor3{
	float: left;
	width: 979px;
	overflow: hidden;
	margin-top: -359px;
}
.floor3>div{
	float: left;
}
.ping{
	width: 245px;
    height: 239px;
    padding: 10px 10px 0px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    box-sizing: border-box;
}
#ping{
	width: 244px;
}
.ping img{
	transition: 1s;
	width: 224px;
	height: 160px;
}
.ping img:hover{
	margin-left:-10px;
}
.ping h1{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ping h2,h3{
	font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.ping h2 a{
	color: #666;
}
.ping h3{
    color: #ff6600;
}
.ping h2 a:hover{
	color: #ff6600;
}
/*中轮播*/
#slider1{
	width: 489px;
	height:239px;
	position: relative;
	overflow: hidden;
	line-height: 240px;
	text-align: center;
	cursor:pointer;
}
#slider1 ul li img{
	width: 489px;
	height: 239px;
}
#slider1>ul{
	width: 2000px;
	height: 239px;
	position: absolute;
	/*z-index: -1;*/
	left:0;
	top:0;
}
#slider1 ul li{
	float: left;
}
#dot1{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot1 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot1 span.active1{
	background-color: #90C221;
}
.ping{
	width: 245px;
    height: 239px;
    padding: 10px 10px 0px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    box-sizing: border-box;
}
#ping{
	width: 244px;
}
.ping img{
	transition: 1s;
	width: 224px;
	height: 160px;
}
.ping img:hover{
	margin-left:-10px;
}
.ping h1{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ping h2,h3{
	font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.ping h2 a{
	color: #666;
}
.ping h3{
    color: #ff6600;
}
.ping h2 a:hover{
	color: #ff6600;
}
.floor4{
	float: left;
	margin-bottom: 60px;
}
.floor4>div{
	float: left;
}
.adv{
	width: 290px;
	height: 160px;
	margin-top: 10px;
	margin-right: 10px;
}
.adv img{
	width: 290px;
	height: 160px;
}
#adv1,#adv2{
	margin-right:0;
}
/*er*/
.fer{
	width: 100%;
	/*height: 750px;*/
	/*background: red;*/
	margin-top: 67px;

}
.fer .f1{
	width: 1200px;
	/*height: 750px;*/
	/*background: cyan;*/
	margin: 0 auto;
	
}
.fer .f1 .f_header{
	width: 1200px;
	height: 32px;
	/*background: #f90;*/
	margin-bottom: 11px;
	margin-top: 398px;
}
.fer .f1 .f_header p{
	font-size: 17px;
	color: #fd81b3;
	line-height: 32px;
	float: left;
}
.fer .f1 .f_header p b{
	font-weight: normal;
	font-size: 14px;
	margin-right: 12px;
}
.fer .f1 .f_header .jingxuan{
	float: left;
	line-height: 32px;
	margin-left: 77px;
}
.fer .f1 .f_header .jingxuan span{
	font-size: 11px;
}
.fer .f1 .f_header .jingxuan a:nth-of-type(1){
	border-left: 1px solid #CCCCCC;
}
.fer .f1 .f_header .jingxuan a{
	font-size: 11px;
	color: #666666;
	border-right: 1px solid #CCCCCC;
	padding-left: 9px;
	padding-right: 9px;
}
.fer .f1 .f_header .jingxuan a:hover{
	color: #FF6600;
}
.fer .f1 .xiangxi{
	height: 720px;
	/*background: #CCCCCC;*/
	margin-top: -12px;
	border-top:4px solid #fd81b3;
	/*position: relative;*/
}
/*小型轮播*/
#slider2{
	width: 210px;
	height: 360px;
	position: relative;
	overflow: hidden;
	line-height: 360px;
	text-align: center;
	cursor:pointer;
}
#slider2 ul li img{
	width: 210px;
	height: 360px;
}
#slider2>ul{
	width: 1000px;
	height: 360px;
	position: absolute;
	/*z-index: -1;*/
	left:0;
	top:0;
}
#slider2 ul li{
	float: left;
}
#dot2{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot2 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot2 span.active{
	background-color: #90C221;
}
/**/
.pai{
	width: 208px;
    height: 355px;
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
    float: left;
}
.pai1{
	height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    text-align: center;
}
.best>div{
	float: left;
}
.best{
	width: 190px;
	margin:0 auto; 
	height: 88px;
	margin-bottom: 14px;
	position: relative;
}
.best1{
	width: 190px;
	height: 33px;
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
#best1{
	background: url(../img/3.1.png) no-repeat 0 0;
}
#best2{
	background: url(../img/3.1.png) no-repeat 0 -33px;
}
#best3{
	background: url(../img/3.1.png) no-repeat 0 -66px;
}
.best2{
	position: absolute;
	left:0;
	top:18px;
	z-index: 1;
}
.best2 img{
	width: 68px;
	height: 68px;
}
.best3{
	position: absolute;
	right:0;
	top:18px;
	z-index: 2;
	width: 108px;
    line-height: 16px;
    color: #666;
}
.best3 h5{
    font-size: 12px;
}
.best3 h5:hover{
	color: #ff6600;
}
.best3 h6{
    font-size: 12px;
    color: #ff6600;
}
.best3 h6 b{
	margin-left: 20px;
	text-decoration: line-through;
	color: #666;
}
.best3>i{
	width: 84px;
	height: 15px;
	display: inline-block;
	background: url(../img/1.png) no-repeat -367px -55px;
}
.floor3{
	float: left;
	width: 979px;
	overflow: hidden;
	margin-top: -359px;
}
.floor3>div{
	float: left;
}
.ping{
	width: 245px;
    height: 239px;
    padding: 10px 10px 0px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    box-sizing: border-box;
}
#ping{
	width: 244px;
}
.ping img{
	transition: 1s;
	width: 224px;
	height: 160px;
}
.ping img:hover{
	margin-left:-10px;
}
.ping h1{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ping h2,h3{
	font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.ping h2 a{
	color: #666;
}
.ping h3{
    color: #ff6600;
}
.ping h2 a:hover{
	color: #ff6600;
}
/*中轮播*/
#slider3{
	width: 489px;
	height:239px;
	position: relative;
	overflow: hidden;
	line-height: 240px;
	text-align: center;
	cursor:pointer;
}
#slider3 ul li img{
	width: 489px;
	height: 239px;
}
#slider3>ul{
	width: 2000px;
	height: 239px;
	position: absolute;
	/*z-index: -1;*/
	left:0;
	top:0;
}
#slider3 ul li{
	float: left;
}
#dot3{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot3 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot3 span.active1{
	background-color: #90C221;
}
.ping{
	width: 245px;
    height: 239px;
    padding: 10px 10px 0px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    box-sizing: border-box;
}
#ping{
	width: 244px;
}
.ping img{
	transition: 1s;
	width: 224px;
	height: 160px;
}
.ping img:hover{
	margin-left:-10px;
}
.ping h1{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ping h2,h3{
	font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.ping h2 a{
	color: #666;
}
.ping h3{
    color: #ff6600;
}
.ping h2 a:hover{
	color: #ff6600;
}
.floor4{
	float: left;
	margin-bottom: 60px;
}
.floor4>div{
	float: left;
}
.adv{
	width: 290px;
	height: 160px;
	margin-top: 10px;
	margin-right: 10px;
}
.adv img{
	width: 290px;
	height: 160px;
}
#adv1,#adv2{
	margin-right:0;
}
/*san*/
.fsan{
	width: 100%;
	/*height: 750px;*/
	/*background: red;*/
	margin-top: 67px;

}
.fsan .f1{
	width: 1200px;
	/*height: 750px;*/
	/*background: cyan;*/
	margin: 0 auto;
	
}
.fsan .f1 .f_header{
	width: 1200px;
	height: 32px;
	/*background: #f90;*/
	margin-bottom: 11px;
	margin-top: 398px;
}
.fsan .f1 .f_header p{
	font-size: 17px;
	color: #00cccc;
	line-height: 32px;
	float: left;
}
.fsan .f1 .f_header p b{
	font-weight: normal;
	font-size: 14px;
	margin-right: 12px;
}
.fsan .f1 .f_header .jingxuan{
	float: left;
	line-height: 32px;
	margin-left: 112px;
}
.fsan .f1 .f_header .jingxuan span{
	font-size: 11px;
}
.fsan .f1 .f_header .jingxuan a:nth-of-type(1){
	border-left: 1px solid #CCCCCC;
}
.fsan .f1 .f_header .jingxuan a{
	font-size: 11px;
	color: #666666;
	border-right: 1px solid #CCCCCC;
	padding-left: 9px;
	padding-right: 9px;
}
.fsan .f1 .f_header .jingxuan a:hover{
	color: #FF6600;
}
.fsan .f1 .xiangxi{
	/*height: 660px;*/
	/*background: #CCCCCC;*/
	margin-top: -12px;
	border-top:4px solid #00cccc;
	/*position: relative;*/
}
/*小型轮播*/
#slider4{
	width: 210px;
	height: 360px;
	position: relative;
	overflow: hidden;
	line-height: 360px;
	text-align: center;
	cursor:pointer;
}
#slider4 ul li img{
	width: 210px;
	height: 360px;
}
#slider4>ul{
	width: 1000px;
	height: 360px;
	position: absolute;
	/*z-index: -1;*/
	left:0;
	top:0;
}
#slider4 ul li{
	float: left;
}
#dot4{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot4 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot4 span.active{
	background-color: #90C221;
}
/**/
.pai{
	width: 208px;
    height: 355px;
    background-color: #f7f7f7;
    border: 1px solid #e9e9e9;
    float: left;
}
.pai1{
	height: 50px;
    line-height: 50px;
    color: #333333;
    font-size: 16px;
    text-align: center;
}
.best>div{
	float: left;
}
.best{
	width: 190px;
	margin:0 auto; 
	height: 88px;
	margin-bottom: 14px;
	position: relative;
}
.best1{
	width: 190px;
	height: 33px;
	position: absolute;
	left:0;
	top:0;
	z-index: 2;
}
#best1{
	background: url(../img/3.1.png) no-repeat 0 0;
}
#best2{
	background: url(../img/3.1.png) no-repeat 0 -33px;
}
#best3{
	background: url(../img/3.1.png) no-repeat 0 -66px;
}
.best2{
	position: absolute;
	left:0;
	top:18px;
	z-index: 1;
}
.best2 img{
	width: 68px;
	height: 68px;
}
.best3{
	position: absolute;
	right:0;
	top:18px;
	z-index: 2;
	width: 108px;
    line-height: 16px;
    color: #666;
}
.best3 h5{
    font-size: 12px;
}
.best3 h5:hover{
	color: #ff6600;
}
.best3 h6{
    font-size: 12px;
    color: #ff6600;
}
.best3 h6 b{
	margin-left: 20px;
	text-decoration: line-through;
	color: #666;
}
.best3>i{
	width: 84px;
	height: 15px;
	display: inline-block;
	background: url(../img/1.png) no-repeat -367px -55px;
}
.floor3{
	float: left;
	width: 979px;
	overflow: hidden;
	margin-top: -359px;
}
.floor3>div{
	float: left;
}
.ping{
	width: 245px;
    height: 239px;
    padding: 10px 10px 0px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    box-sizing: border-box;
}
#ping{
	width: 244px;
}
.ping img{
	transition: 1s;
	width: 224px;
	height: 160px;
}
.ping img:hover{
	margin-left:-10px;
}
.ping h1{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ping h2,h3{
	font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.ping h2 a{
	color: #666;
}
.ping h3{
    color: #ff6600;
}
.ping h2 a:hover{
	color: #ff6600;
}
/*中轮播*/
#slider5{
	width: 489px;
	height:239px;
	position: relative;
	overflow: hidden;
	line-height: 240px;
	text-align: center;
	cursor:pointer;
}
#slider5 ul li img{
	width: 489px;
	height: 239px;
}
#slider5>ul{
	width: 2000px;
	height: 239px;
	position: absolute;
	/*z-index: -1;*/
	left:0;
	top:0;
}
#slider5 ul li{
	float: left;
}
#dot5{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot5 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot5 span.active{
	background-color: #90C221;
}
.ping{
	width: 245px;
    height: 239px;
    padding: 10px 10px 0px 10px;
    border-right:1px solid #e8e8e8;
    border-bottom:1px solid #e8e8e8;
    box-sizing: border-box;
}
#ping{
	width: 244px;
}
.ping img{
	transition: 1s;
	width: 224px;
	height: 160px;
}
.ping img:hover{
	margin-left:-10px;
}
.ping h1{
    color: #ff6600;
    font-size: 16px;
    height: 24px;
    line-height: 24px;
}
.ping h2,h3{
	font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.ping h2 a{
	color: #666;
}
.ping h3{
    color: #ff6600;
}
.ping h2 a:hover{
	color: #ff6600;
}
.floor4{
	float: left;
	margin-bottom: 60px;
}
.floor4>div{
	float: left;
}
.adv{
	width: 290px;
	height: 160px;
	margin-top: 10px;
	margin-right: 10px;
}
.adv img{
	width: 290px;
	height: 160px;
}
#adv1,#adv2{
	margin-right:0;
}
.fsi{
	width: 100%;
	/*height: 750px;*/
	/*background: red;*/
	/*margin-top: 67px;*/

}
.fsi #F4{
	width: 1200px;
	/*height: 750px;*/
	/*background: cyan;*/
	margin: 0 auto;
}
.fsi #F4 .f_header{
	width: 1200px;
	height: 32px;
	/*background: #f90;*/
	margin-bottom: 11px;
	margin-top: 587px;
}
.fsi #F4 .f_header p{
	font-size: 17px;
	color: #666666;
	line-height: 32px;
	float: left;
}
.fsi #F4 .f_header p b{
	font-weight: normal;
	font-size: 14px;
	margin-right: 12px;
}
.fsi #F4 .f_header .jingxuan{
	float: left;
	line-height: 32px;
	margin-left: 118px;
}
.fsi #F4 .f_header .jingxuan span{
	font-size: 11px;
}
.fsi #F4 .f_header .jingxuan a:nth-of-type(1){
	border-left: 1px solid #CCCCCC;
}
.fsi #F4 .f_header .jingxuan a{
	font-size: 11px;
	color: #666666;
	border-right: 1px solid #CCCCCC;
	padding-left: 9px;
	padding-right: 9px;
}
.fsi #F4 .f_header .jingxuan a:hover{
	color: #FF6600;
}
.fsi #F4 .floor5{
	height: 720px;
	/*background: #CCCCCC;*/
	margin-top: -12px;
	border-top:4px solid #666666;
	/*position: relative;*/
}
#slider6{
	width: 710px;
	height:243px;
	position: relative;
	overflow: hidden;
	line-height: 243px;
	text-align: center;
	cursor:pointer;
}
#slider6 ul li img{
	width: 710px;
	height: 243px;
}
#slider6>ul{
	width: 3000px;
	height: 243px;
	position: absolute;
	z-index: -1;
	left:0;
	top:0;
}
#slider6 ul li{
	float: left;
}
#dot6{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot6 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot6 span.active6{
	background-color: #90C221;
}
.floor5>div{
	float: left;
}
.floor6>div{
	float: left;
}
.floor5{
	height: 1000px;
}
.floor6{
	height: 1251px;
}

.xin{
	margin:0 6px;
}
.xin img{
	width: 233px;
	height: 243px;
}
.fen{
	width: 193px;
    height: 242px;
    border: 1px solid #e9e9e9;
    border-top:0;
    padding: 0px 20px 0px 20px;
}
.fen1{
	width: 193px;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px solid #e9e9e9;
    color: #333333;
    margin-bottom: 10px;
}
.fen2{
	height: 20px;
	line-height: 20px;
    color: #333333;
}
.fen3{
	overflow: hidden;
}
.fen3 a{
	width: 62px;
    height: 18px;
    line-height: 18px;
    background-color: #94c51b;
    color: #fff;
    margin: 2px;
    margin-left: 0px;
    float: left;
    text-align: center;
}
.ch{
    border:1px solid #e9e9e9;
    border-bottom:0;
}
#chan{
	border-right:0;
}
.chan{
	width: 288px;
    height: 241px;
    padding: 4px;
    border-right:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    position: relative;
    float: left;
}
.chan img{
	transition: 0.5s;
	width: 290px;
	height: 240px;
}
.chan img:hover{
	margin-left:-4px;
}
.chan h1{
	width: 287px;
	text-align: center;
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	left:0px;
	top:190px; 
}
.chan h1 a{
	color: #333;
}
.chan h1 a:hover{
	color: #ff6600;
}
.chan h2{
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	left:0px;
	top:215px; 
	width: 287px;
	text-align: center; 
}
.chan h2 a{
	color: #ff6600;
}
.chan h3{
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	left:0px;
	top:30px; 
	color: #333;
	width: 287px;
	text-align: center;
}
/*五楼*/
.fwu{
	width: 100%;
	height: 750px;
	/*background: red;*/
	margin-top: 67px;

}
.fwu #F5{
	width: 1200px;
	margin: 0 auto;
}
.fwu #F5 .f_header{
	width: 1200px;
	height: 32px;
	margin-top: 328px;
}
.fwu #F5 .f_header p{
	font-size: 17px;
	color: #aa72d2;
	line-height: 32px;
	float: left;
}
.fwu #F5 .f_header p b{
	font-weight: normal;
	font-size: 14px;
	margin-right: 12px;
}
.fwu #F5 .f_header .jingxuan{
	float: left;
	line-height: 32px;
	margin-left: 118px;
}
.fwu #F5 .f_header .jingxuan span{
	font-size: 11px;
}
.fwu #F5 .f_header .jingxuan a:nth-of-type(1){
	border-left: 1px solid #CCCCCC;
}
.fwu #F5 .f_header .jingxuan a{
	font-size: 11px;
	color: #666666;
	border-right: 1px solid #CCCCCC;
	padding-left: 9px;
	padding-right: 9px;
}
.fwu #F5 .f_header .jingxuan a:hover{
	color: #FF6600;
}
.fwu #F5 .floor6{
	height: 720px;
	border-top:4px solid #aa72d2;
}
#slider7{
	width: 710px;
	height:243px;
	position: relative;
	overflow: hidden;
	line-height: 243px;
	text-align: center;
	cursor:pointer;
}
#slider7 ul li img{
	width: 710px;
	height: 243px;
}
#slider7>ul{
	width: 3000px;
	height: 243px;
	position: absolute;
	z-index: -1;
	left:0;
	top:0;
}
#slider7 ul li{
	float: left;
}
#dot7{
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 5px;
}
#dot7 span{
	width: 40px;
	height: 5px;
	background: #666;
	float: left;
	margin:3px;
	cursor:pointer;
}
#dot7 span.active7{
	background-color: #90C221;
}
.pick{
	width: 480px;
	height: 243px;
}
.pick img{
	width: 474px;
	height: 243px;
	margin-left:6px;
}
.mianmo{
	margin-top: 5px;
    border:1px solid #e9e9e9;
    border-bottom:0;	
}
#mo{
	border-right:0;
}
.mo{
	width: 288px;
    height: 241px;
    padding: 4px;
    border-right:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    position: relative;
    float: left;
}
.mo img{
	transition: 0.5s;
	width: 290px;
	height: 240px;
}
.mo img:hover{
	margin-left:-4px;
}
.mo h1{
	font-size: 14px;
	line-height: 18px;
	position: absolute;
	left:0px;
	top:190px; 
	width: 287px;
	text-align: center;
}
.mo h1 a{
	color: #ff6600;
}
.mo h2{
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	left:0px;
	top:210px;
	width: 287px;
	text-align: center; 
}
.mo h2 a{
	color: #666;
}
.mo h2 a:hover{
	color: #ff6600;
}
.mo h3{
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	left:0px;
	top:228px;
	width: 287px;
	text-align: center; 
}
.mo h3 a{
	color: #ff6600;
}
/*选项卡*/
.xx{
	width: 100%;
	/*height: 365px;*/
}
#tab3{
	width: 1200px;
	height: 365px;
    border:1px solid #e9e9e9;
	margin:50px auto;
	position: relative;
	margin-top: 596px;
}
#btns3{
    height: 28px;
    border-bottom: 3px solid #94c51b;
}
#btns3 span{
	width: 100px;
	height: 28px;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	color: #666;
	font-size: 14px;
    font-weight: bold;
    border-left:1px solid #e9e9e9;
    float: left;
    cursor: pointer;
}
#btns3 span.on{
	color: #fff;
	background:#94c51b;
	border:0; 
}
.dian{
	width: 1190px;
	height: 60px;
    border-bottom:1px solid #e9e9e9;
	overflow: hidden;
}
.dian1{
	width: 890px;
	height: 60px;
	float: left;
    color: #666666;
    line-height: 20px;
    text-indent: 2em;
    font-size: 12px;
    padding:10px 200px 0 14px;
    box-sizing: border-box;
}
.dian2{
	margin:15px 0;
	width: 295px;
	height: 30px;
	border-left:1px solid #e9e9e9;
	float: left;
}
.dian2>div{
    width: 24px;
    height: 24px;
    float: left;
    margin: 3px 5px 3px 0px;
    border-radius: 12px;
}
.dian2 .dian21{
	margin-left: 30px;
	background:#94c51b url(../img/4.png) no-repeat -2px -30px;
}
.dian2 .dian22{
	background:#94c51b url(../img/4.png) no-repeat -2px -58px;
}
.dian2 .dian23{
	background:#94c51b url(../img/4.png) no-repeat -2px -86px;
}
.dian2 .dian24{
	background:#94c51b url(../img/4.png) no-repeat -2px -114px;
}
.dian2 .dian25{
	background:#94c51b url(../img/4.png) no-repeat -2px -198px;
}

#dis3>div{
	display: none;
	font-size: 12px;
}
#dis3>div.on{
	display: block;
}
#btns4{
	float: left;
}
#btns4 span{
	width: 169px;
	height: 137px;
	display: block;
}
#btns41{
	background: url(../img/5.1.png) no-repeat 0 -273px;
}
#btns42{
	background: url(../img/5.1.png) no-repeat 0 -136px;
}
#btns41.on{
	background: url(../img/5.1.png) no-repeat 0 top;
}
#btns42.on{
	background: url(../img/5.1.png) no-repeat 0 bottom;
}
#dis4{
	float: left;
}
#dis4>div{
	display: none;
	width: 1020px;
	height: 274px;
}
#dis4>div.on{
	display: block;
}
.map1{
	width: 723px;
	height: 274px;
	float: left;
}
.map1 img{
	margin:10px;
	width: 703px;
	height: 251px;
}
.map2{
	width: 297px;
	height: 274px;
	padding:0 28px;
	box-sizing: border-box;
    border-left:1px solid #e9e9e9;
	float: left;
}
.map21{
	width: 240px;
    margin: 25px 20px 0 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}
.map2 h1 i{
	width: 18px;
	height: 18px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: middle;
}
.map2 h1{
    margin: 5px 0 5px 5px;
    line-height: 18px;
    color: #666666;
	font-size: 12px;
}
.map22{
	padding:20px 0;
	box-sizing: border-box;
}
.map23{
	margin-left:20px;
}
.map23 img{
	width: 189px;
	height: 52px;
}
#m1{
	background: url(../img/4.png) no-repeat -5px -229px;
}
#m2{
	background: url(../img/4.png) no-repeat -34px -5px;
}
#m3{
	background: url(../img/4.png) no-repeat -34px -61px;
}
#m4{
	background: url(../img/4.png) no-repeat -34px -117px;
}
#m5{
	background: url(../img/4.png) no-repeat -34px -201px;
}
#m6{
	background: url(../img/4.png) no-repeat -5px -257px;
}
#m7{
	background: url(../img/4.png) no-repeat -5px -313px;
}
#m8{
	background: url(../img/4.png) no-repeat -5px -369px;
}
#m9{
	background: url(../img/4.png) no-repeat -34px -145px;
}
/*.tutu{
	position: absolute;
	right:0;
	top:0;
}*/
/*.tutu img{
	height: 28px;
}
.tutu a{
	height: 28px;
	display: block;
	float: right;
	line-height: 28px;
	color: #000;
}*/
/*.tutu a:hover{
	color: #ff6600;
}
.tutu a i{
	width: 13px;
    height: 13px;
    margin-left:5px;
    background: url(../img/1.png) no-repeat 0 -727px;
    display: inline-block;
    vertical-align: middle;
}*/
/**/
.new{
	width: 1200px;
	height: 234px;
	margin:0 auto 25px;
}
.new>div{
	float: left;
}
#tab5{
	width: 216px;
    height: 234px;
    border: 1px solid #ddd;
    border-top: 3px solid #94c51b;
	box-sizing: border-box;
}
#btns5{
	overflow: hidden;
}
#btns5 a{
	width: 107px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	display: inline-block;
	background: #94c51b;
	float: left;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
}
#btns5 a.on{
	background:#fff;
	color: #666;
}
#dis5>div{
	display: none;
	padding:10px 5px;
	box-sizing: border-box;	
}
#dis5>div ul li{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
#dis5>div ul li i{
	width: 9px;
	height: 12px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	background: url(../img/157.jpg);
}
#dis5>div ul li a{
	color: #999;
}
#dis5>div ul li a:hover{
	color: #ff6600;
}
#dis5>div.on{
	display: block;
}
.run,.guan{
	margin-left: 8px;
}
.tit{
	color: #666;
    font-weight: bold;
    font-size: 14px;
    width: 326px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    border-top: 3px solid #94c51b;
    border-bottom: 0;
	box-sizing: border-box;
	padding-left: 15px;
}
.info_list{
	height: 200px;
	width: 324px;	
    border: 1px solid #ddd;
	overflow: hidden;
}
.info_list ul{
	position: relative;
	top: 0;
	margin-top: 1px;
}
.info_list ul.move{
	transition: all 1s linear;
	top:-100px;
}
#info_list ul.move1{
	transition: all 1s linear;
	top:-100px;
}
.info_list li{
	width: 310px;
	height: 100px;
	float: left;
	border-bottom: 1px dashed #ddd;
	overflow: hidden;
	margin-left:8px;
	padding-top:10px;
	box-sizing: border-box;
}
.info_list li>div{
	float: left;
}
.info1{
	margin-top: 6px;
}
.info1 img{
	width: 68px;
	height: 68px;
}
.info2{
	font-size: 12px;
	width: 234px;
	line-height: 14px;
	margin:2px 4px;
}
.info2 i{
	width: 84px;
	height: 15px;
	display: inline-block;
	background: url(../img/1.png) no-repeat -367px -55px;
}
#a{
	color: #94c51b;
}
.info2 b{
	color: #ff6600; 
	margin-left: 50px;
}
.info2 a{
	color: #000; 
	margin-left: 4px;
}
.info2 a:hover{
	color: #ff6600; 
}
.tit1{
	color: #666;
    font-weight: bold;
    font-size: 14px;
    width: 298px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ddd;
    border-top: 3px solid #94c51b;
    border-bottom: 0;
	box-sizing: border-box;
	padding-left: 15px;
}
.tab6{
	width: 298px;
    height: 202px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}
.btns6 a{
	width: 148px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	display: inline-block;
	background: #94c61b;
	float: left;
	font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.btns6 a.on1{
	background:#fff;
	color: #666;
}
.dis6>div{
	width: 298px;
	height: 151px;
	display: none;	
}
.dis6>div img{
	width: 296px;
	height: 152px;
}
.dis6>div.on1{
	display: block;
}
/*dibu*/
.footer{
	width: 100%;
	background: #f0f0f0;
}
.foot{
	width: 1190px;
	margin:0 auto;
	overflow: hidden;
}
.foot1{
	width: 980px;
	margin:20px auto;
}
.foot1 img{
	width: 980px;
	height: 100px;
}
.foot2{
	width: 970px;
	margin:0 auto;
	padding: 20px 0px 20px 70px;
    border-top: 1px #fff solid;
    box-sizing: border-box;
    overflow: hidden;
}
.foot21{
	width: 150px;
	float: left;
}
.foot21 h1{
	height: 18px;
	line-height: 18px;
	margin-bottom: 10px;
	font-weight:bold;
	font-size: 14px;
	color: #484046;
	text-align: center;
}
.foot21 ul li{
	line-height: 18px;
	font-size: 12px;
	text-align: center;
}
.foot21 ul li a{
	color: #999;
}
.foot21 ul li a:hover{
	color: #FE6809;
}
.foot3{
	padding:14px 0;
	box-sizing: border-box;
	border-top: 1px #fff solid;
    text-align: center;
}
.foot31{
	height: 18px;
	line-height: 18px;
	font-size: 11px;
	color: #CCCCCC;
}
.foot31 a{
	padding-right:5px;
	color: #999;
	box-sizing: border-box;
}
.foot31 a:hover{
	color: #FE6809;
}
.foot4{
	text-align:center;
	width: 1190px;
	height: 74px;
}
.foot4 a{
	width: 111px;
	height: 41px;
}

.foot4 img{
	width: 111px;
	height: 41px;
	margin:0 5px 30px 0;	
}
/*侧边栏*/
.side{
	position: fixed;
	right:6px;
	top:250px;
	z-index: 10;
}
.side>a>div{
	width: 55px;
	height: 62px;
}
.side1{
	position: relative;
	border-top: 1px solid #ddd;
	background: url(../img/1.png) no-repeat -309px -597px;
}
.side2{
	background: url(../img/1.png) no-repeat -309px -475px;
}
.side3{
	position: relative;
	background: url(../img/1.png) no-repeat -309px -536px;
}
.side4{
	background: url(../img/1.png) no-repeat -309px -658px;
}
.side5{
	background: url(../img/1.png) no-repeat -309px -719px;
	/*display: none;*/
}
.side1:hover{
	background: url(../img/1.png) no-repeat -364px -597px;
}
.side1:hover .side6{
	display: block;
}
.side2:hover{
	background: url(../img/1.png) no-repeat -364px -475px;
}
.side3:hover{
	background: url(../img/1.png) no-repeat -364px -536px;
}
.side3:hover .side7{
	display: block;
}
.side4:hover{
	background: url(../img/1.png) no-repeat -364px -658px;
}
.side5:hover{
	background: url(../img/1.png) no-repeat -364px -719px;
}
.side6{
	width: 198px;
	height: 254px;
	position: absolute;
	right:55px;
	top:-170px;
	background: url(../img/1.png) no-repeat -111px -461px;
	display: none;
}
.side7{
	width: 198px;
	height: 47px;
	position: absolute;
	right:55px;
	top:7px;
	background: url(../img/1.png) no-repeat -111px -414px;
	display: none;
}
/*左侧边栏*/
#ctrl{
	position: fixed;
	left: 7px;
	top: 150px;
	z-index: 8;
	display: none;
}
#ctrl.active{
	display: block;
}
#ctrl span{
	display: block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
#ctrl1{
	background: url(../img/1.png) no-repeat -70px -414px;
}
#ctrl2{
	background: url(../img/1.png) no-repeat -70px -454px;
}
#ctrl3{
	background: url(../img/1.png) no-repeat -70px -494px;
}
#ctrl4{
	border-bottom:1px solid #ddd;
	background: url(../img/1.png) no-repeat -70px -534px;
}
#ctrl1.active{
	background: url(../img/1.png) no-repeat -30px -414px;
}
#ctrl2.active{
	background: url(../img/1.png) no-repeat -30px -454px;
}
#ctrl3.active{
	background: url(../img/1.png) no-repeat -30px -494px;
}
#ctrl4.active{
	background: url(../img/1.png) no-repeat -30px -534px;
}
#ctrl1:hover{
	background: url(../img/1.png) no-repeat -30px -414px;
}
#ctrl2:hover{
	background: url(../img/1.png) no-repeat -30px -454px;
}
#ctrl3:hover{
	background: url(../img/1.png) no-repeat -30px -494px;
}
#ctrl4:hover{
	background: url(../img/1.png) no-repeat -30px -534px;
}