.heard{
	width: 100%;
	height:25px;
	background: #F2F2F2;
}
.heard .heard1{
	width: 1200px;
	height: 25px;
	background:#f2f2f2 ;
	margin: 0 auto;
}
.heard .heard1 .left1{
	float: left;
}
.heard .heard1 .left1 img{
	margin-left: 5px;
	margin-top: 5px;
}
.heard .heard1 .left2{
	float: left;
}
.heard .heard1 .left2 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .left2 a:hover{
	color: #ff6600;
}
.heard .heard1 .left3{
	font-size: 10px;
	color: #999999;
	float: left;
	margin-left: 20px;
	line-height: 25px;
}
.heard .heard1 .left4{
	float: left;
}
.heard .heard1 .left5{
	float: left;
}
.heard .heard1 .left5 a{
	margin-left: 6px;
	text-decoration: none;
	font-size: 11px;
	color: #999999;
}
.heard .heard1 .left5 a:hover{
	color: #ff6600;
}
.heard .heard1 .right1{
	float: left;
}
.heard .heard1 .right1 a{
	text-decoration: none;
	font-size: 11px;
	margin-left: 204px;
	color: #666666;
}
.heard .heard1 .right1 a:hover{
	color: #ff6600;
}
.heard .heard1 .right2{
	float: left;
	position: relative;
	z-index: 1;
}
.heard .heard1 .right2 a{
	margin-left: 20px;
	font-size: 11px;
	text-decoration: none;
	color: #666666;
}
.heard .heard1 .right2 a:hover{
	color: #ff6600;
}
.heard .heard1 .right2 ul{
	background: #fff;
	margin-top: 4px;
	position: absolute;
	left: 17px;
	top: 20px;
	display: none;
}
.heard .heard1 .right2 ul li{
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	margin-left: 3px;
	line-height: 25px;
}
.heard .heard1 .right2:hover ul {
	display: block;
}
.heard .heard1 .right2 ul li:hover{
	text-decoration: underline;
	color:#ff6600 ;
}
.heard .heard1 .right3{
	float: left;
	position: relative;
	width: 75px;
	z-index: 1;
}
.heard .heard1 .right3 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .right3 ul{
	position: absolute;
	top: 20px;
	left: -8px;
	margin-top: 4px;
	display: none;
}
.heard .heard1 .right3 ul li{
	font-size: 11px;
	background: #FFFFFF;
	line-height: 25px;
	cursor: pointer;
	padding-left: 8px;
}
.heard .heard1 .right3 ul li:hover{
	text-decoration: underline;
	color:#ff6600 ;
}
.heard .heard1 .right3:hover ul {
	display: block;
	/*overflow: hidden;*/
}
.heard .heard1 .right4{
	float: left;
}
.heard .heard1 .right4 img{
	float: left;
	margin-left: 18px;
	margin-top: 5px;
}
.heard .heard1 .right4 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .right4 b{
	color:#ff6600 ;
	font-weight: normal;
}
.heard .heard1 .right4 a:hover{
	color:#ff6600 ;
}
.heard .heard1 .right5{
	z-index: 1;
	float: left;
	position: relative;
}
.heard .heard1 .right5 img{
	float: left;
	margin-left: 14px;
	margin-top: 2px;
} 
.heard .heard1 .right5 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;	
	float: left;
	line-height: 25px;
}
.heard .heard1 .right5 a:hover{
	color:#ff6600 ;
}
.heard .heard1 .right5 img:nth-of-type(2){
	float: left;
	display: none;
	position: absolute;
	top:23px;
	left: -50px;
}
.heard .heard1 .right5:hover img{
	display: block;
}
.heard .heard1 .right6{
	float: left;
}
.heard .heard1 .right6 img{
	float: left;
	margin-top: 1px;
	margin-left: 14px;
}
.heard .heard1 .right6 a{
	margin-left: 5px;
	float: left;
	text-decoration: none;
	font-size: 11px;
	color:#ff6600 ;
	line-height: 25px;
}
.heard2{
	width: 100%;
}
.heard2 .banner {
	width: 1200px;
	margin: 0 auto;
	cursor: pointer;
}
.heard2 .heard_end{
	width: 1200px;
	margin: 0 auto;
}
.heard2 .heard_end img{
	margin-top: 28px;
	margin-left: 10px;
	float: left;
}
.heard2 .heard_end img:nth-of-type(2){
	margin-left: 281px;
	float: left;
	margin-top: 23px;
}
/**/
.heard2 .sousuokuang{
	float: left;
	position: relative;
	margin-left: 79px;
	margin-top: 30px;
}
.heard2 .sousuokuang input{
	float: left;
	width: 250px;
	height: 33px;
	border:1px solid #90c31f;
	outline: none;
	color: #90C31F;
	text-indent: 30px;
	border-right: 0;
}
.heard2 .sousuokuang img{
	position: absolute;
	left: 2px;
	top: 5px;
}
.heard2 .sousuokuang button{
	float: left;
	width: 79px;
	height: 35px;
	margin-left: -5px;
	border: 0;
	background:#90C31F;
	outline: none;
	cursor: pointer;
}
.heard2 .sousuokuang p{
	color: #999999;
	font-size: 11px;
}
.heard2 .sousuokuang a{
	font-size: 11px;
	text-decoration: none;
	color: #999999;
	margin-left: 5px;
}
.heard2 .sousuokuang .sousuo{
	float: left;
	margin-left: 55px;
	margin-top: -20px;
}
.heard2 .sousuokuang a:hover{
	color: #FF6600;
}
.zhong{
	width: 100%;
	height: 35px;
	background: #90C31F;
	margin-top: 100px;
}
.zhong .erji{
	width: 1200px;
	margin: 0 auto;
	background: #90C31F;
}
.zhong .erji p{
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color: #FFFFFF;
	cursor: pointer;
	/*margin-left: 17px;*/
	margin-right: 34px;
	width: 210px;
	height: 35px;
	background: #6d9d03;
}
.zhong .erji img{
	margin-left: 15px;
	vertical-align: middle;
}
.zhong .erji ul{
	float: left;
	margin-left: 200px;
	margin-top: -35px;
}
.zhong .erji ul li:nth-of-type(1){
	width: 100px;
	margin-left: 19px;
}
.zhong .erji ul li{
	float: left;
	width: 120px;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bolder;
	margin-left:1px;
}
.zhong .erji ul li a{
	float: left;
	display: inline-block;
	color: #FFFFFF;
	width: 100px;
	height: 35px;
	text-align: center;
}
.zhong .erji ul li a:hover{
	background: #7fb012;
}
.title_h{
	width: 100%;
	height: 55px;
	/*background: red;*/
	overflow: hidden;
}
.title_h_{
	width: 1200px;
	height: 55px;
	margin: 0 auto;
	overflow: hidden;
}
.title_map{
	width: 1200px;
    height: 25px;
    margin: 15px auto;
}
.title_img{
	width: 20px;
    height: 15px;
    background: url(../img/tubiao.png) no-repeat;
    background-position: left -92px;
    margin-top: 5px;
}
.title_map div{
	line-height: 25px;
    font-size: 12px;
    color: #666;
    float: left;
    padding: 0px 2px 0px 2px;
}
.title_j{
	font-family: '宋体';
}
.list_list{
	width: 1200px;
	margin:0 auto;
}
.list_left{
	float: left;
	width: 210px;
}
.list_left1{
    border: 1px solid #eee;
    border-top: 3px solid #90c31f;
    margin-bottom: 10px;
}
.child2{
	cursor:pointer;
}
#child0{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#child0.move{
	height: 100%;
	transition: 0.5s;
}
.list_left1 ul li .child1{
	padding-left: 25px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #D9D9D9;
    background-color: #f5f5f5;
    cursor: pointer;
    white-space: nowrap;
    background: #f5f5f5 url(../img/1.png) no-repeat -0px -786px;
}
.list_left1 ul li .child1 a{
	color: #6d9d03;
    font-size: 14px;
}
.list_left1 ul li .child1 a:hover{
	color:#f60;
}
#children1{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children1.move{
	height: 140px;
	transition: 0.5s;
}
#children2{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#child1.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child2.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child3.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child5.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child6.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child7.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child8.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child10.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child12.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child13.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child14.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child16.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child18.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child19.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child21.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child22.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child23.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child24.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child26.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child27.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child28.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}
#child29.on{
	background: #f5f5f5 url(../img/1.png) no-repeat 20px -819px;
}

#children2.move{
	height: 80px;
	transition: 0.5s;
}
#children3{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children3.move{
	height: 130px;
	transition: 0.5s;
}
#children4{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child4.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children4.move{
	height: 100%;
	transition: 0.5s;
}
#children5{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children5.move{
	height: 140px;
	transition: 0.5s;
}
#children6{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children6.move{
	height: 192px;
	transition: 0.5s;
}
#children7{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children7.move{
	height: 140px;
	transition: 0.5s;
}
#children8{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children8.move{
	height: 88px;
	transition: 0.5s;
}
#children9{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child9.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children9.move{
	height: 100%;
	transition: 0.5s;
}
#children10{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children10.move{
	height: 140px;
	transition: 0.5s;
}
#children11{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child11.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children11.move{
	height: 100%;
	transition: 0.5s;
}
#children12{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children12.move{
	height: 166px;
	transition: 0.5s;
}
#children13{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children13.move{
	height: 88px;
	transition: 0.5s;
}
#children14{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children14.move{
	height: 166px;
	transition: 0.5s;
}
#children15{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child15.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children15.move{
	height: 100%;
	transition: 0.5s;
}
#children16{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children16.move{
	height: 62px;
	transition: 0.5s;
}
#children17{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child17.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children17.move{
	height: 100%;
	transition: 0.5s;
}
#children18{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children18.move{
	height: 88px;
	transition: 0.5s;
}
#children19{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children19.move{
	height: 114px;
	transition: 0.5s;
}
#children20{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child20.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children20.move{
	height: 100%;
	transition: 0.5s;
}
#children21{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children21.move{
	height: 166px;
	transition: 0.5s;
}
#children22{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children22.move{
	height: 426px;
	transition: 0.5s;
}
#children23{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children23.move{
	height: 244px;
	transition: 0.5s;
}
#children24{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children24.move{
	height: 322px;
	transition: 0.5s;
}
#children25{
	height: 31px;
	overflow: hidden;
	transition: 0.5s;
}
#child25.on{
	background: #f5f5f5 url(../img/1.png) no-repeat -0px -757px;
}
#children25.move{
	height: 100%;
	transition: 0.5s;
}
#children26{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children26.move{
	height: 88px;
	transition: 0.5s;
}
#children27{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children27.move{
	height: 140px;
	transition: 0.5s;
}
#children28{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children28.move{
	height: 140px;
	transition: 0.5s;
}
#children29{
	height: 26px;
	overflow: hidden;
	transition: 0.5s;
}
#children29.move{
	height: 140px;
	transition: 0.5s;
}
.list_left1 ul li ul{
	padding:5px 0;
}
.list_left1 ul li ul li .child2{
	background-color: #fff;
    border: 0;
    height: 26px;
    line-height: 26px;
    padding-left: 25px;
	background: url(../img/1.png) no-repeat 20px -849px;
}
.list_left1 ul li ul li .child2 a{
	margin-left:20px;
	font-size: 12px;
	color: #666;
}
.list_left1 ul li ul li .child2 a:hover{
	color: #f60;
}
.list_left1 a:hover{
	color: #f60;
}
.nochild{
	line-height: 26px;
	height:26px;
	padding-left: 25px;
	margin-left: 20px;
}
.nochild a{
	color: #999;
	font-size: 12px;
}
.child3{
	line-height: 26px;
	height: 26px;
	padding-left:25px;
}
.list_right{
	width: 958px;
	/*height: 900px;*/
	/*background: cyan;*/
	float: right;
	margin-right: 10px;
}
.lb{
	width: 958px;
	height: 140px;
	border: 1px solid #CCCCCC;
}
.lb_h{
	width: 958px;
	height: 34px;
	background: #f5f5f5;
	border-bottom: 1px solid #CCCCCC;
}
.lb_h a{
	line-height: 34px;
	margin-left: 13px;
}
.swiper-wrapper .swiper-slide{
    padding: 7px 0px;
    width: 237px;
}
.list_rqtj_img{
	width: 90px;
	height: 90px;
	float: left;
	margin-left: 10px;
}
.list_rqtj_img img{
	width: 90px;
	height: 90px;
}
.list_rqtj_name{
	width: 125px;
    height: 36px;
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 0 8px;
    margin-top: 12px;
    float: left;
    color: rgb(102, 102, 102);
    cursor:pointer;
    overflow: hidden;
}
.list_rqtj_name:hover{
	color: #f60;
}
.list_rqtj_price{
	width: 125px;
	color: #f60;
    float: left;
    padding: 0 0 0 8px;
    line-height: 18px;
    margin-top: 12px;
    font-size: 16px;
}
.list_rqtj_price i{
	font-size: 12px;
}
.swiper-button-prev{
	width: 20px;
	height: 50px;
	left:0;
	background: url(../img/1.png) no-repeat -20px -911px;
	display: none;
	cursor: pointer;
}
.swiper-button-next{
	width: 20px;
	height: 50px;
	right:0;
	background: url(../img/1.png) no-repeat -41px -911px;
	display: none;
	cursor: pointer;
}
.swiper-container:hover .swiper-button-prev{
	display: block;
}
.swiper-container:hover .swiper-button-next{
	display: block;
}
.list_right_yxtj{
	height: 29px;
	margin-bottom: 10px;
}
.list_yxtj{
	line-height: 29px;
    margin-left: 12px;
    font-size: 12px;
    color: #666;
}
.list_right_yxtj2{
	border-top: 1px solid #ccc;
    background-color: #f5f5f5;
}
.list_right_brand{
	border: 1px solid #ccc;
    border-top:0;
}
#list_right_brand{
	height: 30px;
	border: 2px solid #ccc;
    border-width: 1px 2px 2px 2px;
}
.list_right_brand1{
	float: left;
    width: 10%;
    line-height: 28px;
    background-color: #f5f5f5;
    color: #666;
    text-indent: 10px;
    font-size: 12px;
}
.list_right_brand2{
	float: left;
    width: 90%;
    line-height: 24px;
    background-color: #fff;
    text-indent: 10px;
    white-space: nowrap;
}
.list_right_brand2 ul li{
	float: left;
	line-height: 28px;
    padding: 0px 10px 0px 10px;
}
.list_right_brand2 ul li a{
	color: #666;
	font-size: 12px;
}
.list_right_brand2 ul li a:hover{
	color: #f60;
}
#list_right_date{
	height: 29px;
}
#list_right_caizhi{
	height: 30px;
}
.list_right_more{
	position: relative;
	width: 100%;
    height: 22px;
    display: block;
    z-index: 2;
}
.list_right_more1{
	height: 18px;
    line-height: 18px;
    color: #666;
    padding: 0 25px 0 10px;
    border: 1px solid #cccccc;
    border-top: 0px;
    background-color: #fff;
    position: absolute;
    top: -1.7px;
    left: 50%;
    margin-left: -40px;
    cursor: pointer;
    font-size: 12px;
}
.list_right_more1 i{
	width: 10px;
	height: 5px;
	display: inline-block;
	position: absolute;
    top: 7px;
    right: 8px;
	background: url(../img/1.png) no-repeat -10px -911px;
}
.list_right_more1 i.on{
	background: url(../img/1.png) no-repeat -0px -911px;
}
.list_right_yxtj2.move{
	height: 215px;
	transition: 0.5s;
}
.list_right_yxtj2{
	height: 63px;
	overflow: hidden;
	transition: 0.5s;
}
.list_right_product{
	margin-top:20px;
}
.list_right_px{
	height: 26px;
    padding: 4px;
    background-color: #f5f5f5;
}
.list_right_px a{
	color: #666666;
    position: relative;
    display: inline-block;
    margin-left: -1px;
    padding: 0px 20px 0px 5px;
    float: left;
    height: 24px;
    line-height: 24px;
    border: 1px solid #CCC;
    background-color: #FFF;
}
.list_right_px a:hover{
	color: #f60;	
    background-color: #f5f5f5;
}
.list_right_px .list_px_zh{
	padding:0 10px;
}
.list_right_px a i{
	position: absolute;
    right: 5px;
    top: 8px;
    background: url(../img/1.png) no-repeat 0 -917px;
    width: 9px;
    height: 10px;
    display: inline-block;
}
.list_right_px a i.on{
	background: url(../img/1.png) no-repeat -230px -917px;
}
.list_list{
	overflow: hidden;
}
.list_product_div{
	width: 218px;
    height: 348px;
    border: 1px solid #ccc;
    margin: 20px 10px 0 4px;
    background-color: #fff;
    float: left;
    position: relative;
    z-index: 1;
}
/**/
.list_product_img{
	width: 218px;
	height: 218px;
	padding:1px;
}
.list_product_img img{
	width: 216px;
    height: 216px;
    cursor: pointer;
}
.list_product_price{
	color: #f60;
    height: 24px;
    line-height: 24px;
    margin-bottom: 5px;
    font-size: 24px;
    padding:0 5px;
}
.list_product_price i{
	font-size: 12px;
}
.list_product_name,.list_product_th{
	line-height: 18px;
	color: #666;
	font-size: 12px;
	padding:0 5px;
}
.list_product_name{
	cursor: pointer;
}
.list_product_name:hover{
	color: #f60;
}
.list_product_th{
	height: 18px;
	overflow: hidden;
}
.list_product_pl{
	width: 208px;
    position: absolute;
    left: 1px;
    top: 309px;
    height: 32px;
    margin: 8px 5px 0 4px;
    border-top: 1px solid #ccc;
}
.list_product_pl i{
	width: 84px;
    height: 15px;
    float: left;
    display: inline-block;
    margin: 7px 1px 0 0px;
    background: url(../img/1.png) no-repeat -367px -135px;
}
.list_product_pl span{
	margin:9px 0 0 5px;
	line-height: 28px;
	color: #666;
	font-size: 12px;
}
.list_product_none{
	width: 100%;
    position: absolute;
    left: 0px;
    bottom:6px;
    display: none;
    border-top: 1px solid #ccc;
}
.list_product_div:hover{
	height: 382px;
	border-width: 2px;
	margin:19px 9px -35px 3px;
	z-index: 10;
}
.list_product_div:hover .list_product_none{
	display: block;
}
.list_product_none .list_product_none1{
	width: 104px;
	height: 20px;
    line-height: 20px;
    background-color: #ff6600;
    border: 1px solid #f60;
    color: #fff;
    padding: 0 15px 0 0;
    margin: 5px 26px -26px 5px;
    float: left;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}
.list_product_none2{
	width: 70px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #f60;
	 color: #fff;
    /*padding: 0 15px 0 0;
    margin: 5px 26px 0 5px;*/
    float: left;
    cursor: pointer;
    border-radius: 3px;
    font-size: 12px;
}
.list_product_none .list_product_none1 i{
	width: 16px;
    height: 16px;
    display: inline-block;
    margin: 2px 10px 0 5px;
    float: left;
    background: url(../img/1.png) no-repeat -2px -940px;
}
.list_product_none .list_product_none2{
	margin: 5px 0 0 135px;
    background-color: #fff;
    color: #f60;
   	float: left;
}
.list_product_none2 i{
	width: 16px;
    height: 16px;
    margin: 2px 10px 0 5px;
    float: left;
    display: inline-block;
    background: url(../img/1.png) no-repeat -2px -956px;
}
.list_pagination{
	width: 100%;
    margin: 65px 0px 40px 0px;
    float: left;
}
.box1{
	height:40px;
	line-height:40px;
	text-align:center;
	margin-left: 100px;
}
.box1 button{
	padding:0 10px;
	margin:0 10px;
	height:40px;
	float:left;
	cursor:pointer;
	border:1px solid #ebebeb;
	background-color:#fff;
	outline: none;
}
.box1 .pageWrap ul .sel-page {
    background-color: #e3e3e3;
}
.first-page:hover,#prePage:hover,#nextPage:hover,.last-page:hover{
	color: #f60;
}   
/*侧边栏*/
.side{
	position: fixed;
	right:6px;
	top:250px;
	z-index: 10;
}
.side>a>div{
	width: 55px;
	height: 62px;
}
.side1{
	position: relative;
	border-top: 1px solid #ddd;
	background: url(../img/1.png) no-repeat -309px -597px;
}
.side2{
	background: url(../img/1.png) no-repeat -309px -475px;
}
.side3{
	position: relative;
	background: url(../img/1.png) no-repeat -309px -536px;
}
.side4{
	background: url(../img/1.png) no-repeat -309px -658px;
}
.side5{
	background: url(../img/1.png) no-repeat -309px -719px;
	/*display: none;*/
}
.side1:hover{
	background: url(../img/1.png) no-repeat -364px -597px;
}
.side1:hover .side6{
	display: block;
}
.side2:hover{
	background: url(../img/1.png) no-repeat -364px -475px;
}
.side3:hover{
	background: url(../img/1.png) no-repeat -364px -536px;
}
.side3:hover .side7{
	display: block;
}
.side4:hover{
	background: url(../img/1.png) no-repeat -364px -658px;
}
.side5:hover{
	background: url(../img/1.png) no-repeat -364px -719px;
}
.side6{
	width: 198px;
	height: 254px;
	position: absolute;
	right:55px;
	top:-170px;
	background: url(../img/1.png) no-repeat -111px -461px;
	display: none;
}
.side7{
	width: 198px;
	height: 47px;
	position: absolute;
	right:55px;
	top:7px;
	background: url(../img/1.png) no-repeat -111px -414px;
	display: none;
}
/*dibu*/
.footer{
	width: 100%;
	background: #f0f0f0;
}
.foot{
	width: 1190px;
	margin:0 auto;
	overflow: hidden;
}
.foot1{
	width: 980px;
	margin:20px auto;
}
.foot1 img{
	width: 980px;
	height: 100px;
}
.foot2{
	width: 970px;
	margin:0 auto;
	padding: 20px 0px 20px 70px;
    border-top: 1px #fff solid;
    box-sizing: border-box;
    overflow: hidden;
}
.foot21{
	width: 150px;
	float: left;
}
.foot21 h1{
	height: 18px;
	line-height: 18px;
	margin-bottom: 10px;
	font-weight:bold;
	font-size: 14px;
	color: #484046;
	text-align: center;
}
.foot21 ul li{
	line-height: 18px;
	font-size: 12px;
	text-align: center;
}
.foot21 ul li a{
	color: #999;
}
.foot21 ul li a:hover{
	color: #FE6809;
}
.foot3{
	padding:14px 0;
	box-sizing: border-box;
	border-top: 1px #fff solid;
    text-align: center;
}
.foot31{
	height: 18px;
	line-height: 18px;
	font-size: 11px;
	color: #CCCCCC;
}
.foot31 a{
	padding-right:5px;
	color: #999;
	box-sizing: border-box;
}
.foot31 a:hover{
	color: #FE6809;
}
.foot4{
	text-align:center;
	width: 1190px;
	height: 74px;
}
.foot4 a{
	width: 111px;
	height: 41px;
}

.foot4 img{
	width: 111px;
	height: 41px;
	margin:0 5px 30px 0;	
}