.heard{
	width: 100%;
	height:25px;
	background: #F2F2F2;
	border-bottom: 1px solid #e5e5e5;
}
.heard .heard1{
	width: 1200px;
	height: 25px;
	background:#f2f2f2 ;
	margin: 0 auto;
}
.heard .heard1 .left1{
	float: left;
}
.heard .heard1 .left1 img{
	margin-left: 5px;
	margin-top: 5px;
}
.heard .heard1 .left2{
	float: left;
}
.heard .heard1 .left2 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .left2 a:hover{
	color: #ff6600;
}
.heard .heard1 .left3{
	font-size: 10px;
	color: #999999;
	float: left;
	margin-left: 20px;
	line-height: 25px;
}
.heard .heard1 .left4{
	float: left;
}
.heard .heard1 .left4 a{
	margin-left: 10px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
.heard .heard1 .left4 a:hover{
	color: #ff6600;
}
.heard .heard1 .left5{
	float: left;
}
.heard .heard1 .left5 a{
	margin-left: 6px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
}
.heard .heard1 .left5 a:hover{
	color: #ff6600;
}
.heard .heard1 .right1{
	float: left;
}
.heard .heard1 .right1 a{
	text-decoration: none;
	font-size: 11px;
	margin-left: 204px;
	color: #666666;
}
.heard .heard1 .right1 a:hover{
	color: #ff6600;
}
.heard .heard1 .right2{
	float: left;
	position: relative;
}
.heard .heard1 .right2 a{
	margin-left: 20px;
	font-size: 11px;
	text-decoration: none;
	color: #666666;
}
.heard .heard1 .right2 a:hover{
	color: #ff6600;
}
.heard .heard1 .right2 ul{
	background: #fff;
	margin-top: 4px;
	position: absolute;
	left: 17px;
	top: 20px;
	display: none;
}
.heard .heard1 .right2 ul li{
	font-size: 11px;
	line-height: 20px;
	cursor: pointer;
	margin-left: 3px;
	line-height: 25px;
}
.heard .heard1 .right2:hover ul {
	display: block;
}
.heard .heard1 .right2 ul li:hover{
	text-decoration: underline;
	color:#ff6600 ;
}
.heard .heard1 .right3{
	float: left;
	position: relative;
	width: 75px;
}
.heard .heard1 .right3 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .right3 ul{
	position: absolute;
	top: 20px;
	left: -8px;
	margin-top: 4px;
	display: none;
}
.heard .heard1 .right3 ul li{
	font-size: 11px;
	background: #FFFFFF;
	line-height: 25px;
	cursor: pointer;
	padding-left: 8px;
}
.heard .heard1 .right3 ul li:hover{
	text-decoration: underline;
	color:#ff6600 ;
}
.heard .heard1 .right3:hover ul {
	display: block;
	/*overflow: hidden;*/
}
.heard .heard1 .right4{
	float: left;
}
.heard .heard1 .right4 img{
	float: left;
	margin-left: 18px;
	margin-top: 5px;
}
.heard .heard1 .right4 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;
}
.heard .heard1 .right4 b{
	color:#ff6600 ;
	font-weight: normal;
}
.heard .heard1 .right4 a:hover{
	color:#ff6600 ;
}
.heard .heard1 .right5{
	z-index: 1;
	float: left;
	position: relative;
}
.heard .heard1 .right5 img{
	float: left;
	margin-left: 14px;
	margin-top: 2px;
} 
.heard .heard1 .right5 a{
	text-decoration: none;
	font-size: 11px;
	color: #666666;	
	float: left;
	line-height: 25px;
}
.heard .heard1 .right5 a:hover{
	color:#ff6600 ;
}
.heard .heard1 .right5 img:nth-of-type(2){
	float: left;
	display: none;
	position: absolute;
	top:23px;
	left: -50px;
}
.heard .heard1 .right5:hover img{
	display: block;
}
.heard .heard1 .right6{
	float: left;
}
.heard .heard1 .right6 img{
	float: left;
	margin-top: 1px;
	margin-left: 14px;
}
.heard .heard1 .right6 a{
	margin-left: 5px;
	float: left;
	text-decoration: none;
	font-size: 11px;
	color:#ff6600 ;
	line-height: 25px;
}
.heard2{
	width: 100%;
	background: #f0f0f0;
	position: relative;
}
.heard2 .heard2_left{
	width: 1200px;
	height: 142px;
	/*background: #CCCCCC;*/
	margin: 0 auto;
}
.heard2 .heard2_left img{
	margin-left: 98px;
	margin-top: 57px;
	vertical-align: middle;
	float: left;
}
.heard2 .heard2_left .zi{
	float: left;
	margin-top: 88px;
}
.heard2 .heard2_left .zi span{
	font-size: 17px;
	color: #727272;
	margin-left: 20px;
}
.heard2 .heard2_left .zhuyi{
	float: left;
	margin-left: 97px;
}
.heard2 .zhong{
	width: 1200px;
	margin: 0 auto;
}
.heard2 .zhong img{
	margin-left: 94px;
	border: 0;
	display: block;
}
.heard2 .tab{
	width: 343px;
	height: 419px;
	background: #eee7f1;
	position: absolute;
	left: 61%;
	top: 32%;
	border-radius: 5px;
}
.heard2 .tab .tab_menu{
	width: 343px;
	height: 61px;
	/*background: #CCCCCC;*/
	border-radius: 5px;	
}
.heard2 .tab .tab_menu li{
	list-style: none;
	float: left;
	/*font-size: 18px;*/
	/*line-height: 61px;*/
	cursor: pointer;
}
.heard2 .tab .tab_menu li:nth-of-type(1){
	margin-left: 47px;
	font-size: 22px;
	color: #ff6600;
	font-weight: bold;
	margin-top: 39px;
	margin-left: 30px;
}
.heard2 .tab .tab_menu li:nth-of-type(2){
	margin-left: 199px;
	margin-top: -21px;
	font-size: 11px;
	color: #333333;
}
.heard2 .tab .tab_menu li:nth-of-type(2) a{
	color: #FF6600;
}
.heard2 .tab .tab_menu li:nth-of-type(2) img{
	vertical-align: middle;
}
.heard2 .tab .sb_menu div img:nth-of-type(1){
	margin-left: 29px;
	margin-top: 23px;
	float: left;
}

.heard2 .tab .sb_menu div img:nth-of-type(2){
	float: left;
	margin-left: 196px;
	margin-top: -143px;
}
.heard2 .tab .sb_menu div img:nth-of-type(3){
	float: left;
	margin-left: 196px;
	margin-top: -1px;
	cursor: pointer;
}
.heard2 .tab .sb_menu div img:nth-of-type(4){
	float: left;
	margin-top: -37px;
	margin-left: 26px;
	cursor: pointer;
}
/*.sb_menu{
	position: relative;
}*/
.sb_menu input:nth-of-type(1){
	width: 277px;
	height: 37px;
	margin-left: 10px;
	text-indent: 33px;
	margin-left: 30px;
	outline: none;
	margin-top: 33px;
	background: url(../img/shouji.jpg) no-repeat 0 3px;
	background-color: #fff;
	border: 1px solid #90C221;
}
.sb_menu input:nth-of-type(2){
	margin-top: 10px;
	width: 277px;
	height: 37px;
	margin-left: 10px;
	text-indent: 15px;
	margin-left: 30px;
	outline: none;
	background-color: #fff;
	background-position: 168px;
	border: 1px solid #90C221;
}
#check-code{
	position: absolute;
    right:25px;
    top: 151px;
    /*cursor: pointer;*/
}
.code {
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    border: 0;
    padding: 2px 3px;
    letter-spacing: 3px;
    font-weight: bolder;
    float: left;
    cursor: pointer;
    width: 100px;
    /*height: 30px;*/
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    }
    .zhanghao{
    	position: relative;
    	margin-top: -22px;
    }
      .zhanghao b{
      	width: 104px;
		height: 32px;
		display: block;
		background-color: #999;
		color: #fff;
		margin:3px;
		cursor: pointer;
		border-radius: 2px;
		text-align: center;
		line-height: 32px;
    	position: absolute;
    	left: 198px;
    	top: 33px;
    }
.sb_menu input:nth-of-type(3){
	margin-top: 10px;
	width: 277px;
	height: 37px;
	margin-left: 30px;
	outline: none;
	text-indent: 35px;
	background: url(../img/zc.jpg) no-repeat 0 5px;
	background-color: #fff;
	border: 1px solid #90C221;
}
.sb_menu input:nth-of-type(4){
	margin-top: 10px;
	width: 277px;
	height: 37px;
	margin-left: 30px;
	outline: none;
	text-indent: 35px;
	background: url(../img/mm.jpg) no-repeat 0 5px;
	background-color: #fff;
	border: 1px solid #90C221;
}
.zhanghao4{
	margin-top: 27px;
	width: 277px;
	height: 37px;
	line-height: 37px;
	text-align: center;
	margin-left: 30px;
	background: #FF6600;
	outline: none;
	border: 0;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
}
.zhanghao3 b{
	width: 12px;
	height: 12px;
	display: inline-block;
	margin-left: 30px;
	vertical-align: middle;
	background: url(../img/kuang.png) no-repeat 0 -432px;
	cursor: pointer;
}
.zhanghao3 b.active{
	background: url(../img/kuang.png) no-repeat -13px -432px;
}
.zheng{
    padding: 3px 30px;
    color: #ff6600;
    font-size: 13px;
}
.mask{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
	position: absolute;
	left: 0;
	top:0;
	z-index: 1;
	display: none;
}
.tishi{
	width: 472px;
	height: 118px;
    position: absolute;
    top: 399px;
    left: 401px;
    z-index: 2;
    border: 6px solid #CCC;
    background-color: #FFF;
    box-sizing: border-box;
    display: none;
}
.tishi h1{
	height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    background-color: #eaeaea;
    text-indent: 20px;
    font-weight: bold;
}
.tishi h1 i{
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url(../img/1.png) no-repeat -107px -912px;
	float: right;
	margin:12px 20px 0 0;
	cursor:pointer;
}
.tishi h2{
	padding: 20px;
    line-height: 26px;
    font-size: 14px;
    color: #F60;
    box-sizing: border-box;
}
.tishi h2 b{
	width: 26px;
	height: 26px;
	display: inline-block;
	background: url(../img/1.png) no-repeat -476px -911px;
	float: left;
	margin-right:10px;
}
.sb_menu span{
	font-size: 11px;
	color: #333333;
}
.sb_menu span a{
	color: #6d9d03;
}
.sb_menu span a:hover{
	color: #FF6600;
}
.dibu{
	width: 100%;
	background: #F0F0F0;
}
.neirong{
	width: 1200px;
	/*height: 500px;*/
	margin: 0 auto;
	background: #F0F0F0;
	overflow: hidden;
}
.n1{
	text-align: center;
	margin-top: 40px;
}
.n1 a{
	font-size: 11px;
	color: #999999;
}
.n1 a:hover{
	color: #FE6809;
}
.n2{
	text-align: center;
}
.n2 a{
	font-size: 11px;
	color: #999999;
	border-right: 1px solid #CCCCCC;
	padding-left: 6px;
	padding-right: 5px;
}
.n2 a:hover{
	color: #FE6809;
}
.n3{
	text-align: center;
	font-size: 11px;
	color: #999999;
	margin-top: 17px;
}
.n3 a{
	color: #999999;
}
.n3 a:hover{
	color: #FE6809;
}
.w{
	text-align: center;
	margin-top: 17px;
}
.w img{
	margin-left: 5px;
	margin-right: 5px;
}
