<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>列表页</title>
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<!--<link rel="stylesheet" type="text/css" href="css/jPages.css">-->
		<link rel="stylesheet" type="text/css" href="css/paging.css"/>
		<link rel="stylesheet" type="text/css" href="css/swiper.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/list.css"/>
	</head>
	<body>
		<div class="heard">
			<div class="heard1">
				<div class="left1">
					<img src="img/xingxing.jpg"/>
				</div>
				<div class="left2">
					<a href="javascript:;">收藏可得网</a>
				</div>
				<div class="left3">
					18435...您好,欢迎光临可得眼镜网  !
				</div>
				<div class="left5">
					<a href="login.html">[退出]</a>
				</div>
				<div class="right1">
					<a href="javascript:;">我的优惠券</a>
				</div>
				<div class="right2">
					<a href="javascript:;">我的可得</a>
					<img src="img/0.jpg"/>
					<ul>
						<li>我的订单</li>
						<li>我的收藏</li>
						<li>积分兑换</li>
						<li>我的验光单</li>
					</ul>
				</div>
				<div class="right3">
					<a href="javascript:;">帮助中心</a>
					<img src="img/0.jpg"/>
					<ul>
						<li>常见问题</li>
						<li>退货换货</li>
						<li>快递查询</li>
						<li>眼镜学堂</li>
						<li>优惠券使用</li>
						<li>投诉建议</li>
						<li>网站地图</li>
					</ul>
				</div>
				<div class="right4">
					<img src="img/00.jpg" alt="" />
					<a href="">购物车<b id="number4">1</b>件</a>
				</div>
				<div class="right5">
					<img src="img/000.jpg" alt="" />
					<a href="JavaScript:;">手机版</a>
					<img src="img/erweima.jpg"/>
				</div>
				<div class="right6">
					<img src="img/qie.jpg" alt="" />
					<a href="javaScript">客服电话：4006-20-20-20 ( 8:30-23:45 )</a>
				</div>
			</div>
		</div>
		<div class="heard2">
			<div class="banner">
				<img src="img/tl.jpg" alt="" />
			</div>
			<div class="heard_end">
				<img src="img/1.gif" alt="" />
				<img src="img/xuebi.jpg"/>
			</div>
			<div class="sousuokuang">
				<input type="text" placeholder="库博硅水凝胶日抛"/>
				<button>搜索</button>
				<img src="img/fdj.jpg"/>
				<p>热门搜索:</p>
				<div class="sousuo">
				<a href="javaScript:;">实瞳</a>
				<a href="javaScript:;">茵洛</a>
				<a href="javaScript:;">卫康</a>
				<a href="javaScript:;">海昌</a>
				<a href="javaScript:;">琦芙丽</a>
				</div>
			</div>
		</div>
		<div class="zhong">
			<div class="erji">
					<p>
						全部商品分类<img src="img/santiao.jpg"/>
					</p>
					
					<ul>
					<li>
						<a href="javascript:;">首页</a>
					</li>
					<li>
						<a href="javascript:;">海外购</a>
					</li>
					<li>
						<a href="javascript:;">彩瞳</a>
					</li>
					<li>
						<a href="javascript:;">隐形眼镜</a>
					</li>
					<li>
						<a href="javascript:;">护理用品</a>
					</li>
					<li>
						<a href="javascript:;">框架眼镜</a>
					</li>
					<li>
						<a href="javascript:;">美妆个护</a>
					</li>
					<li>
						<a href="javascript:;">积分商城</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="title_h">
			<div class="title_h_">
				<div class="title_map">
					<div class="title_img"></div>
					<div>当前位置</div>
					<div class="title_j">></div>
					<div>
						<a href="index.html">可得眼镜网</a>
					</div>
					<div class="title_j">></div>
					<div>
						<a href="index.html">近视眼镜</a>
					</div>
				</div>
			</div>
		</div>
		<div class="list_list">
		<div class="list_left">
			<div class="list_left1">
				<ul class="child">
					<li id="child0">
						<div id="child" class="child1"><a href="javascript:;">近视眼镜</a></div>
						<ul>
							<li id="children1">
								<div class="child2" id="child1"><a href="javascript:;">HAN 眼镜架 | 99元起</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">29.9元起！体验镜框</a></div></li>
									<li><div class="nochild"><a href="javascript:;">新品上架</a></div></li>
									<li><div class="nochild"><a href="javascript:;">简约清新</a></div></li>
									<li><div class="nochild"><a href="javascript:;">复古个性</a></div></li>
									<li><div class="nochild"><a href="javascript:;">时尚商务</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">HAN防蓝光眼镜 | 99元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Koffein 咖啡因 | 290起</a></div></li>
							<li><div class="child3"><a href="javascript:;">KD 眼镜架 | 290元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">KEDE 眼镜架 | 390元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">NIKE 耐克 | 480元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Calvin Klein 卡文·克莱 | 690元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">LACOSTE鳄鱼 | 799元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Tommy Hilfiger | 511元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Ray·Ban 雷朋 | 580元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Levi's 李维斯 | 780元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Oakley 欧克利 | 590元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Armani 阿玛尼 | 980元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">BURBERRY 巴宝莉 | 960元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Chloé 珂洛伊 | 1596元</a></div></li>
							<li id="children2">
								<div class="child2" id="child2"><a href="javascript:;">框架眼镜配件</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">眼镜盒 | 镜袋</a></div></li>
									<li><div class="nochild"><a href="javascript:;">框架小配件</a></div></li>
								</ul>
							</li>
							<li id="children3">
								<div class="child2" id="child3"><a href="javascript:;">光学树脂镜片</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">HAN树脂镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">KD树脂镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">龙膜树脂镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">依视路镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">蔡司镜片</a></div></li>
								</ul>
							</li>
						</ul>
					</li>	
				</ul>
				<ul>
					<li id="children4">
						<div class="child1" id="child4"><a href="javascript:;">彩色隐形眼镜</a></div>
						<ul>
							<li><div class="child3"><a href="javascript:;">强生 | define美瞳</a></div></li>
							<li id="children5">
								<div class="child2" id="child5"><a href="javascript:;">博士伦 |  蕾丝</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">博士伦日抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">博士伦月抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">博士伦半年抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">博士伦年抛型</a></div></li>
								</ul>
							</li>
							<li id="children6">
								<div class="child2" id="child6"><a href="javascript:;">海昌 |   星眸</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">印象之美</a></div></li>
									<li><div class="nochild"><a href="javascript:;">海昌日抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">海昌双周抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">海昌月抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">海昌半年抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">海昌年抛型</a></div></li>
								</ul>
							</li>
							<li id="children7">
								<div class="child2" id="child7"><a href="javascript:;">诺思 | 魅眸</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">诺思日抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">诺思月抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">诺思半年抛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">诺思年抛型</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">i-DOL | 人鱼姬</a></div></li>
							<li><div class="child3"><a href="javascript:;">心の拉花 | Coffee</a></div></li>
							<li><div class="child3"><a href="javascript:;">实瞳 | 可芙蕾</a></div></li>
							<li><div class="child3"><a href="javascript:;">茵洛 | Clalen iRiS/a></div></li>
							<li id="children8">
								<div class="child2" id="child8"><a href="javascript:;">NEO  |  小黑环</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">NEO短周期</a></div></li>
									<li><div class="nochild"><a href="javascript:;">NEO长周期</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">妃蜜莉 | Femii</a></div></li>
							<li><div class="child3"><a href="javascript:;">Candy Magic |大直径</a></div></li>
							<li><div class="child3"><a href="javascript:;">领丽秀 | LALISH</a></div></li>
							<li><div class="child3"><a href="javascript:;">爱如久 |  eRouge</a></div></li>
							<li><div class="child3"><a href="javascript:;">蕾美 | ReVIA</a></div></li>
							<li><div class="child3"><a href="javascript:;">酷柏 | FREQUENCY</a></div></li>
							<li><div class="child3"><a href="javascript:;">西米可 | XIMICO</a></div></li>
							<li><div class="child3"><a href="javascript:;">萌哆奇 |  MODOCH</a></div></li>
							<li><div class="child3"><a href="javascript:;">可视眸 | Keesmo</a></div></li>
							<li><div class="child3"><a href="javascript:;">MerryDolly</a></div></li>
							<li><div class="child3"><a href="javascript:;">> 散光定制彩瞳</a></div></li>
							<li><div class="child3"><a href="javascript:;">> 更多美瞳品牌</a></div></li>
							
						</ul>
					</li>
				</ul>
				<ul>
					<li id="children9">
						<div class="child1" id="child9"><a href="javascript:;">护理用品</a></div>
						<ul>
							<li><div class="child3"><a href="javascript:;">爱尔康 | 傲滴 乐明</a></div></li>
							<li><div class="child3"><a href="javascript:;">博士伦 | 博乐纯</a></div></li>
							<li><div class="child3"><a href="javascript:;">双氧水</a></div></li>
							<li><div class="child3"><a href="javascript:;">珍视明 | 悠视</a></div></li>
							<li><div class="child3"><a href="javascript:;">海昌 | 水感觉</a></div></li>
							<li><div class="child3"><a href="javascript:;">卫康 | 新视 清凉</a></div></li>
							<li><div class="child3"><a href="javascript:;">优卓 | AVIZOR</a></div></li>
							<li><div class="child3"><a href="javascript:;">乐敦清 | ROHTO C3</a></div></li>
							<li><div class="child3"><a href="javascript:;">全能 | 雅培</a></div></li>
							<li><div class="child3"><a href="javascript:;">海俪恩 | 森呼吸</a></div></li>
							<li><div class="child3"><a href="javascript:;">安娜苏</a></div></li>
							<li><div class="child3"><a href="javascript:;">美若康</a></div></li>
							<li><div class="child3"><a href="javascript:;">美汐 | 双氧水</a></div></li>
							<li><div class="child3"><a href="javascript:;">澜柏 | LENBERT</a></div></li>
							<li><div class="child3"><a href="javascript:;">> 彩瞳护理液</a></div></li>
							<li><div class="child3"><a href="javascript:;">> 隐形眼镜润眼液</a></div></li>
							<li><div class="child3"><a href="javascript:;">> RGP硬性护理液</a></div></li>
							<li id="children10">
								<div class="child2" id="child10"><a href="javascript:;">隐形眼镜护理工具</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">分装器 | 分装瓶</a></div></li>
									<li><div class="nochild"><a href="javascript:;">伴侣盒</a></div></li>
									<li><div class="nochild"><a href="javascript:;">双联盒 | 镊子</a></div></li>
									<li><div class="nochild"><a href="javascript:;">清洗器 | 取戴器</a></div></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li id="children11">
						<div class="child1" id="child11"><a href="javascript:;">近视眼镜</a></div>
						<ul>
							<li id="children12">
								<div class="child2" id="child12"><a href="javascript:;">HAN 眼镜架 | 99元起</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">29.9元起！体验镜框</a></div></li>
									<li><div class="nochild"><a href="javascript:;">新品上架</a></div></li>
									<li><div class="nochild"><a href="javascript:;">简约清新</a></div></li>
									<li><div class="nochild"><a href="javascript:;">复古个性</a></div></li>
									<li><div class="nochild"><a href="javascript:;">时尚商务</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">HAN防蓝光眼镜 | 99元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Koffein 咖啡因 | 290起</a></div></li>
							<li><div class="child3"><a href="javascript:;">KD 眼镜架 | 290元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">KEDE 眼镜架 | 390元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">NIKE 耐克 | 480元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">LACOSTE鳄鱼 | 799元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Ray·Ban 雷朋 | 580元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Levi's 李维斯 | 780元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Armani 阿玛尼 | 980元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Chloé 珂洛伊 | 1596元</a></div></li>
							<li id="children13">
								<div class="child2" id="child13"><a href="javascript:;">框架眼镜配件</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">眼镜盒 | 镜袋</a></div></li>
									<li><div class="nochild"><a href="javascript:;">框架小配件</a></div></li>
								</ul>
							</li>
							<li id="children14">
								<div class="child2" id="child14"><a href="javascript:;">光学树脂镜片</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">HAN树脂镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">KD树脂镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">龙膜树脂镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">依视路镜片</a></div></li>
									<li><div class="nochild"><a href="javascript:;">蔡司镜片</a></div></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li id="children15">
						<div class="child1" id="child15"><a href="javascript:;">太阳眼镜</a></div>
						<ul>
							<li id="children16">
								<div class="child2" id="child16"><a href="javascript:;">HAN 太阳镜 | 89元起</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">6月新品</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">HAN 近视太阳镜 | 近视定制</a></div></li>
							<li><div class="child3"><a href="javascript:;">KD 太阳镜 | 290元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Koffein 咖啡因 | 390起</a></div></li>
							<li><div class="child3"><a href="javascript:;">NIKE 耐克 | 580元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">CK 卡文·克莱 | 799元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Police 警察 | 980起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Ray Ban 雷朋 | 780元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">Levi's 李维斯 | 780元起</a></div></li>
							<li><div class="child3"><a href="javascript:;">儿童太阳镜</a></div></li>
							<li><div class="child3"><a href="javascript:;">>  近视夹片/套镜</a></div></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li id="children17">
						<div class="child1" id="child17"><a href="javascript:;">功能眼镜</a></div>
						<ul>
							<li id="children18">
								<div class="child2" id="child18"><a href="javascript:;">> 防蓝光辐射眼镜</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">HAN全天候护目镜 | 69元起</a></div></li>
									<li><div class="nochild"><a href="javascript:;">Eyezen 适赞 | 499元起</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">>  游泳眼镜</a></div></li>
							<li><div class="child3"><a href="javascript:;">>  司机驾驶/骑行运动</a></div></li>
							<li id="children19">
								<div class="child2" id="child19"><a href="javascript:;">老花眼镜</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">HAN | 防蓝光老光</a></div></li>
									<li><div class="nochild"><a href="javascript:;">Podreader | 旋转折叠</a></div></li>
									<li><div class="nochild"><a href="javascript:;">方圆 | 轻薄 舒适</a></div></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
				<ul>
					<li id="children20">
						<div class="child1" id="child20"><a href="javascript:;">个人护理</a></div>
						<ul>
							<li id="children21">
								<div class="child2" id="child21"><a href="javascript:;">眼部保健</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">眼罩（蒸汽眼罩）</a></div></li>
									<li><div class="nochild"><a href="javascript:;">护眼贴</a></div></li>
									<li><div class="nochild"><a href="javascript:;">眼膜</a></div></li>
									<li><div class="nochild"><a href="javascript:;">眼霜</a></div></li>
									<li><div class="nochild"><a href="javascript:;">洗眼液</a></div></li>
								</ul>
							</li></li>
							<li id="children22">
								<div class="child2" id="child22"><a href="javascript:;">身体护理</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">洗发</a></div></li>
									<li><div class="nochild"><a href="javascript:;">护发</a></div></li>
									<li><div class="nochild"><a href="javascript:;">脱毛膏</a></div></li>
									<li><div class="nochild"><a href="javascript:;">剃毛器</a></div></li>
									<li><div class="nochild"><a href="javascript:;">沐浴露</a></div></li>
									<li><div class="nochild"><a href="javascript:;">痘痘贴</a></div></li>
									<li><div class="nochild"><a href="javascript:;">洗手液</a></div></li>
									<li><div class="nochild"><a href="javascript:;">身体乳</a></div></li>
									<li><div class="nochild"><a href="javascript:;">护手霜</a></div></li>
									<li><div class="nochild"><a href="javascript:;">蒸脸器</a></div></li>
									<li><div class="nochild"><a href="javascript:;">湿巾</a></div></li>
									<li><div class="nochild"><a href="javascript:;">口罩</a></div></li>
									<li><div class="nochild"><a href="javascript:;">清洁防护</a></div></li>
									<li><div class="nochild"><a href="javascript:;">口腔护理</a></div></li>
									<li><div class="nochild"><a href="javascript:;">直发棒</a></div></li>
								</ul>
							</li>
							<li id="children23">
								<div class="child2" id="child23"><a href="javascript:;">面部护理</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">洁面/卸妆</a></div></li>
									<li><div class="nochild"><a href="javascript:;">面膜</a></div></li>
									<li><div class="nochild"><a href="javascript:;">套装</a></div></li>
									<li><div class="nochild"><a href="javascript:;">乳液</a></div></li>
									<li><div class="nochild"><a href="javascript:;">喷雾</a></div></li>
									<li><div class="nochild"><a href="javascript:;">面霜</a></div></li>
									<li><div class="nochild"><a href="javascript:;">精华</a></div></li>
									<li><div class="nochild"><a href="javascript:;">保湿水</a></div></li>
								</ul>
							</li>
							<li id="children24">
								<div class="child2" id="child24"><a href="javascript:;">美妆个护按品牌分类</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">贝德玛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">芭妮兰</a></div></li>
									<li><div class="nochild"><a href="javascript:;">花印</a></div></li>
									<li><div class="nochild"><a href="javascript:;">莱斯壁</a></div></li>
									<li><div class="nochild"><a href="javascript:;">依云</a></div></li>
									<li><div class="nochild"><a href="javascript:;">CeraVe</a></div></li>
									<li><div class="nochild"><a href="javascript:;">曼秀雷敦</a></div></li>
									<li><div class="nochild"><a href="javascript:;">DHC蝶翠诗</a></div></li>
									<li><div class="nochild"><a href="javascript:;">水光针面膜</a></div></li>
									<li><div class="nochild"><a href="javascript:;">SNP</a></div></li>
									<li><div class="nochild"><a href="javascript:;">美宝莲</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">其他</a></div></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li id="children25">
						<div class="child1" id="child25"><a href="javascript:;">时尚彩妆</a></div>
						<ul>
							<li id="children26">
								<div class="child2" id="child26"><a href="javascript:;">唇妆专区</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">口红</a></div></li>
									<li><div class="nochild"><a href="javascript:;">唇膏</a></div></li>
								</ul>
							</li></li>
							<li id="children27">
								<div class="child2" id="child27"><a href="javascript:;">眼妆专区</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">眼线</a></div></li>
									<li><div class="nochild"><a href="javascript:;">眉笔/染眉膏/眉粉</a></div></li>
									<li><div class="nochild"><a href="javascript:;">睫毛膏/假睫毛</a></div></li>
									<li><div class="nochild"><a href="javascript:;">眼影</a></div></li>
								</ul>
							</li>
							<li><div class="child3"><a href="javascript:;">卸妆专区</a></div></li>
							<li><div class="child3"><a href="javascript:;">美妆工具</a></div></li>
							<li id="children28">
								<div class="child2" id="child28"><a href="javascript:;">脸妆专区</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">妆前乳/隔离/防晒</a></div></li>
									<li><div class="nochild"><a href="javascript:;">修颜/腮红</a></div></li>
									<li><div class="nochild"><a href="javascript:;">粉底液/bb霜/气垫bb</a></div></li>
									<li><div class="nochild"><a href="javascript:;">粉饼/散粉</a></div></li>
								</ul>
							</li>
							<li id="children29">
								<div class="child2" id="child29"><a href="javascript:;">指尖色彩</a></div>
								<ul>
									<li><div class="nochild"><a href="javascript:;">小奥汀</a></div></li>
									<li><div class="nochild"><a href="javascript:;">paasee</a></div></li>
									<li><div class="nochild"><a href="javascript:;">Sweet Color</a></div></li>
									<li><div class="nochild"><a href="javascript:;">美甲</a></div></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="list_right">
				<div class="lb">
					<div class="lb_h">
						<a href="index.html">人气推荐</a>
					</div>
					<div class="swiper-container" id="swiper-container1">
					    <div class="swiper-wrapper">
					        <div class="swiper-slide">
								<div class="list_rqtj_img"><img src="img/av.jpg" alt=""></div>
								<div class="list_rqtj_name">HAN MEGA-TR钛塑近视眼镜架-亮黑(HD3101-F02)</div>
								<div class="list_rqtj_price"><i>￥</i>69.00</div>
					        </div>
					        <div class="swiper-slide">
								<div class="list_rqtj_img"><img src="img/yj.jpg" alt=""></div>
								<div class="list_rqtj_name">HAN时尚光学眼镜架-渐进绿(HD3310-F15)</div>
								<div class="list_rqtj_price"><i>￥</i>169.00</div>
					        </div>
					        <div class="swiper-slide">
								<div class="list_rqtj_img"><img src="img/av1.jpg" alt=""></div>
								<div class="list_rqtj_name">HAN COLLECTION MEGA-TR钛塑光学眼镜架-亮黑(HD3403-F01)</div>
								<div class="list_rqtj_price"><i>￥</i>89.00</div>
					        </div>
					        <div class="swiper-slide">
								<div class="list_rqtj_img"><img src="img/yg.jpg" alt=""></div>
								<div class="list_rqtj_name">HAN MEGA-TR钛塑近视眼镜架-经典纯黑(HD2905-F01)</div>
								<div class="list_rqtj_price"><i>￥</i>119.00</div>
					        </div>
					        <div class="swiper-slide">
								<div class="list_rqtj_img"><img src="img/av2.jpg" alt=""></div>
								<div class="list_rqtj_name">HAN COLLECTION光学眼镜架HD3102-F03 玳瑁色</div>
								<div class="list_rqtj_price"><i>￥</i>79.00</div>
					        </div>
					        <div class="swiper-slide">
								<div class="list_rqtj_img"><img src="img/lg.jpg" alt=""></div>
								<div class="list_rqtj_name">HAN克罗心MEGA-TR钛塑近视眼镜架-亮黑(HD2904-F01)</div>
								<div class="list_rqtj_price"><i>￥</i>119.00</div>
					        </div>
					    </div>
					    <!-- 如果需要导航按钮 -->
					    <div class="swiper-button-prev" id="swiper-button-prev1"></div>
					    <div class="swiper-button-next" id="swiper-button-next1"></div>
					</div>
				</div>
				<div class="list_right_yxtj">
					<div class="list_yxtj">已选条件：</div>
				</div>
				<div class="list_right_yxtj1">
				<div class="list_right_yxtj2">
					<div class="list_right_brand" id="list_right_brand">
						<div class="list_right_brand1">品牌</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">HAN</a></li>
								<li><a href="javascript:;">KD</a></li>
								<li><a href="javascript:;">Koffein</a></li>
								<li><a href="javascript:;">Oakley欧克利</a></li>
							</ul>
						</div>
					</div>
					<div class="list_right_brand" id="list_right_date">
						<div class="list_right_brand1">款式</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">男款</a></li>
								<li><a href="javascript:;">女款</a></li>
								<li><a href="javascript:;">儿童款</a></li>
							</ul>
						</div>
					</div>
					<div class="list_right_brand" id="list_right_date">
						<div class="list_right_brand1">框型</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">偏圆框</a></li>
								<li><a href="javascript:;">大框</a></li>
								<li><a href="javascript:;">偏方框</a></li>
								<li><a href="javascript:;">半框</a></li>
								<li><a href="javascript:;">蛤蟆镜</a></li>
							</ul>
						</div>
					</div>
					<div class="list_right_brand" id="list_right_date">
						<div class="list_right_brand1">风格</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">休闲</a></li>
								<li><a href="javascript:;">潮款</a></li>
								<li><a href="javascript:;">学生</a></li>
								<li><a href="javascript:;">复古</a></li>
								<li><a href="javascript:;">优雅</a></li>
								<li><a href="javascript:;">商务</a></li>								
							</ul>
						</div>
					</div>
					<div class="list_right_brand" id="list_right_date">
						<div class="list_right_brand1">材质</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">金属</a></li>
								<li><a href="javascript:;">MEGA-TR钛塑</a></li>
								<li><a href="javascript:;">金属&TR90</a></li>
								<li><a href="javascript:;">纯钛</a></li>
								<li><a href="javascript:;">尼龙</a></li>
								<li><a href="javascript:;">板材</a></li>
								<li><a href="javascript:;">不锈钢</a></li>
								<li><a href="javascript:;">塑钢</a></li>
								<li><a href="javascript:;">钛&板材</a></li>
								<li><a href="javascript:;">金属&板材</a></li>
							</ul>
						</div>
					</div>
					<div class="list_right_brand" id="list_right_date">
						<div class="list_right_brand1">镜宽尺寸</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">≤130mm</a></li>
								<li><a href="javascript:;">131~132mm</a></li>
								<li><a href="javascript:;">133~137mm</a></li>
								<li><a href="javascript:;">138~139mm</a></li>
								<li><a href="javascript:;">≥139mm</a></li>
							</ul>
						</div>
					</div>
					<div class="list_right_brand" id="list_right_caizhi">
						<div class="list_right_brand1">价格</div>
						<div class="list_right_brand2">
							<ul>
								<li><a href="javascript:;">100-299元</a></li>
								<li><a href="javascript:;">300-499元</a></li>
								<li><a href="javascript:;">>500</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="list_right_more">
					<div class="list_right_more1"><i></i>精简选项</div>
				</div>
			</div>
			<div class="list_right_product">
				<div class="list_right_px">
					<a href="javascript:;" class="list_px_zh">综合</a>
					<a href="javascript:;" class="list_px_xl">销量<i></i></a>
					<a href="javascript:;" class="list_px_jg">价格<i id="list_px_jg"></i></a>
				</div>
				<div class="list_right_product_div">
					 <!--<div class="list_product_div">
						<div class="list_product_img"><img src="img/330.jpg" alt=""></div>
						<div class="list_product_price"><i>￥</i>168.00</div>
						<div class="list_product_name">168元包邮！美若康沐氧硅水凝胶10片装3盒套装。</div>
						<div class="list_product_th">组合商品不可叠加用券，不参与全场满减满赠，敬请见谅。</div>
						<div class="list_product_pl"><i></i><span>有<b>518</b>条评论</span></div>
						<div class="list_product_none0">
							<div class="list_product_none">
								<span class="list_product_none1"><i></i>加入购物车</span>
								<span class="list_product_none2"><i></i>收藏</span>
							</div>
						</div>
					</div> -->
				</div>
			</div>
			<div class="list_pagination">
				<div class="box1" id="box">
					<button type="button" id="firstPage" class="turnPage first-page">首页</button>
					<button class="turnPage" id="prePage">上一页</button>
					<div class="pageWrap" style="width:180px">
						<ul id="pageSelect" style="transition:all 600ms">
							<li class="sel-page">1</li><li class="">2</li>
							<li class="">3</li><li class="">4</li><li class="">5</li>
						</ul>
					</div>
					<button class="turnPage" id="nextPage">下一页</button>
					<button type="button" id="lastPage" class="last-page">尾页</button>
					<input type="text" placeholder="1" class="jump-text" id="jumpText">
					<button type="button" class="jump-button" id="jumpBtn">跳转</button>
					<p class="total-pages">共&nbsp;5&nbsp;页</p>
					<p class="total-count"></p>
				</div>
			</div>

		</div>
	</div>	
	<div class="side">
		<a href="javascript:;"><div class="side1"><div class="side6"></div></div></a>
		<a href="javascript:;"><div class="side2"></div></a>
		<a href="javascript:;"><div class="side3"><div class="side7"></div></div></a>
		<a href="cart.html"><div class="side4"></div></a>
		<a href="javascript:;"><div class="side5"></div></a>
	</div>
	<div class="footer">
		<div class="foot">
			<div class="foot1"><img src="img/5.gif" alt=""></div>
			<div class="foot2">
				<div class="foot21">
					<h1>关于可得</h1>
					<ul>
						<li><a href="javascript:;">公司简介</a></li>
						<li><a href="javascript:;">诚聘英才</a></li>
						<li><a href="javascript:;">媒体报道</a></li>
					</ul>
				</div>
				<div class="foot21">
					<h1>新手指南</h1>
					<ul>
						<li><a href="javascript:;">热点问题</a></li>
						<li><a href="javascript:;">会员优惠</a></li>
						<li><a href="javascript:;">礼券号使用</a></li>
					</ul>
				</div>
				<div class="foot21">
					<h1>配镜指南</h1>
					<ul>
						<li><a href="javascript:;">读懂验光单</a></li>
						<li><a href="javascript:;">如何选购隐形眼镜</a></li>
						<li><a href="javascript:;">眼镜学堂</a></li>
					</ul>
				</div>
				<div class="foot21">
					<h1>支付配送</h1>
					<ul>
						<li><a href="javascript:;">款到发货</a></li>
						<li><a href="javascript:;">货到付款</a></li>
						<li><a href="javascript:;">支付方式</a></li>
					</ul>
				</div>
				<div class="foot21">
					<h1>售后服务</h1>
					<ul>
						<li><a href="javascript:;">30天随心退换货服务</a></li>
						<li><a href="javascript:;">如何办理退换货、退款</a></li>
						<li><a href="javascript:;">投诉建议</a></li>
					</ul>
				</div>
				<div class="foot21">
					<h1>帮助</h1>
					<ul>
						<li><a href="javascript:;">找回密码</a></li>
						<li><a href="javascript:;">联系我们</a></li>
						<li><a href="javascript:;">快递查询</a></li>
					</ul>
				</div>
			</div>
			<div class="foot3">
				<div class="foot31">
					<a href="javascript:;">联系我们</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					<a href="javascript:;">友情链接</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					<a href="javascript:;">眼镜百科</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					<a href="javascript:;">网站地图</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					<a href="javascript:;">隐私安全</a><span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
				</div>
				<div class="foot31">
					Copyright 2006-2016 可得眼镜 KEDE.com 版权所有 沪ICP备09062956号 全国服务热线：4006-20-20-20
				</div>
			</div>
			<div class="foot4">
				<a href="javascript:;"><img src="img/7.png" alt=""></a>
				<a href="javascript:;"><img src="img/8.1.png" alt=""></a>
				<a href="javascript:;"><img src="img/9.png" alt=""></a>
				<a href="javascript:;"><img src="img/10.png" alt=""></a>
				<a href="javascript:;"><img src="img/11.png" alt=""></a>
				<a href="javascript:;"><img src="img/12.png" alt=""></a>
			</div>
		</div>
	</div>
	<script id="temp" type="text/html">
        <div>
            <%for(var i=0; i<product.length; i++){%>
            	<div class="list_product_div">
					<div class="list_product_img"><img class="lazy" data-original="<%= product[i].url%>" alt=""></div>
					<div class="list_product_price"><i>￥</i><%= product[i].price%></div>
					<div class="list_product_name"><%=product[i].name%></div>
					<div class="list_product_th"><%=product[i].th%></div>
					<div class="list_product_pl"><i></i><span>有<b><%=product[i].pl%></b>条评论</span></div>
					<div class="list_product_none0">
						<div class="list_product_none">
							<span class="list_product_none1"><i></i>加入购物车</span>
							<span class="list_product_none2"><i></i>收藏</span>
						</div>
					</div>
				</div>
            <%}%>
        </div>
    </script>
    <script src="js/plugins/jquery.min.js"></script>
	<script src="js/swiper.min.js"></script>
    <script src="js/plugins/lazyload.min.js"></script>
    <script src="js/plugins/baiduTemplate.js"></script>
    <script src="js/plugins/paging.js"></script>
    <script src="js/list.js"></script>

	<!--<script src="js/require.min.js" data-main="js/list.js"></script>-->
	</body>
</html>
